@import '../../styles/variable';

.contact {
  background-color: $primary-color;
  cursor: default;
  .tab-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
    padding-top: 100px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .background-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      font-size: 12vw;
    }
    .contact-container {
      width: 450px;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 14px;
      background-color: rgba($color: $secondary-color, $alpha: 0.2);
      border: 0.25px solid rgba($color: $secondary-color, $alpha: 0.5);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      .side-title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1.5rem;

        .content-side-title {
          color: $text-white;
        }
      }
      /**********[ tabs ]**********/
      .tabs {
        width: 400px;
        height: 50px;
        display: flex;
        .tab {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          opacity: 0.4;
          color: $text-white;
          text-transform: uppercase;
          font-size: $font-size-xs;
          font-weight: 500;
        }
        .active-tab {
          position: relative;
          opacity: 1;
        }
      }
      /**********[ contents ]**********/
      .content-tabs {
        width: 400px;
        height: 300px;
        .content {
          width: 100%;
          height: 100%;
          display: none;
          .email-form {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            .input-form {
              margin-bottom: 1rem;
            }
            .label-input {
              height: 40px;
              display: flex;
              align-items: center;
              input,
              textarea {
                background-color: transparent;
                border: none;
                border-radius: 0;
                width: 100%;
                padding: 0.4rem 0.2rem;
                outline: none;
                font-size: $font-size-sm;
                border-bottom: 0.05rem solid
                  rgba($color: $white-color, $alpha: 0.4);
                transition: all 0.35s;
                resize: none;
                color: $text-white;
                &::placeholder {
                  font-weight: 300;
                  color: $text-white;
                }
                &:hover {
                  border-bottom: 0.05rem solid $white-color;
                }
                &:focus {
                  border-bottom: 0.2rem solid $white-color;

                  &::placeholder {
                    font-weight: 600;
                  }
                }
              }
              textarea {
                padding-bottom: 0;
                height: 40px;
                transition: height 0.35s;
                margin-top: 3rem;
                &:focus {
                  height: 80px;
                }
              }
            }
            .submit-btn {
              background-color: rgba($color: $secondary-color, $alpha: 0.2);
              border: 0.25px solid rgba($color: $secondary-color, $alpha: 0.5);
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 3rem;
              margin-top: 20%;
              transition: all 0.35s;
              border-radius: 7px;
              cursor: pointer;
              .send-btn {
                border: none;
                background-color: transparent;
                font-size: $font-size-xs;
                font-weight: 500;
                color: $text-white;
                text-transform: uppercase;
              }
              &:hover {
                background-color: rgba(
                  $color: $secondary-color-02,
                  $alpha: 0.2
                );
              }
            }
          }
          .social-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            li {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              opacity: 0.7;
              transition: all 0.35s;
              .content-text {
                color: $text-white;
                font-weight: 500;
              }
              &:hover {
                opacity: 1;
              }
            }
          }
        }
        .active-content {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .contact {
    height: auto;
    .tab-menu-container {
      .background-title {
        font-size: 17vw;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .contact {
    .tab-menu-container {
      height: auto;
      padding-top: 20vh;
      padding-bottom: 15vh;
      .background-title {
        font-size: 24vw;
      }
      .contact-container {
        width: 90%;
        height: auto;
        padding-top: 7vh;
        padding-bottom: 7vh;
        /**********[ tabs ]**********/
        .tabs {
          width: 100%;
          height: 3rem;
        }
        /**********[ contents ]**********/
        .content-tabs {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
}
