@import '../../styles/variable';

.contact {
  background-color: $main-white;
  height: calc(100vh - 140px);
  cursor: default;

  .tab-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    /**********[ title ]**********/
    .contact-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2.5rem;
    }

    /**********[ tabs ]**********/
    .tabs {
      width: 400px;
      height: 50px;
      display: flex;

      .tab {
        background-color: $main-white;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 0.4;
      }

      .bold-text {
        font-size: $font-size-xs;
      }

      .active-tab {
        position: relative;
        opacity: 1;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 0.2rem;
          background-color: $main-black;
        }
      }
    }

    /**********[ contents ]**********/
    .content-tabs {
      width: 400px;
      height: 300px;

      .content {
        width: 100%;
        height: 100%;
        display: none;

        .email-form {
          display: flex;
          flex-direction: column;
          padding: 1rem;

          .input-form {
            margin-bottom: 1rem;
          }

          .label-input {
            height: 40px;
            display: flex;
            align-items: center;

            input,
            textarea {
              background-color: transparent;
              border: none;
              border-radius: 0;
              width: 100%;
              padding: 0.4rem 0.2rem;
              outline: none;
              font-size: $font-size-sm;
              border-bottom: 0.05rem solid
                rgba($color: $main-black, $alpha: 0.2);
              transition: all 0.35s;
              resize: none;

              &::placeholder {
                font-weight: 300;
              }

              &:hover {
                border-bottom: 0.05rem solid $main-black;
              }

              &:focus {
                border-bottom: 0.2rem solid $main-black;

                &::placeholder {
                  font-weight: 600;
                }
              }
            }

            textarea {
              padding-bottom: 0;
              height: 40px;
              transition: height 0.35s;
              margin-top: 3rem;

              &:focus {
                height: 80px;
              }
            }
          }

          .submit-btn {
            width: 100%;
            height: 3rem;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $main-black;
            position: relative;
            margin-top: 15%;

            &::before {
              content: '';
              background-color: $main-white;
              position: absolute;
              bottom: 0.6rem;
              left: 50%;
              transform: translateX(-50%);
              width: 40px;
              height: 0.05rem;
              opacity: 0;
              transition: all 0.35s;
            }

            .send-btn {
              border: none;
              background-color: transparent;
              color: $main-white;
              text-transform: uppercase;
              font-size: $font-size-xs;
              font-weight: 600;
              letter-spacing: 0.1rem;
              width: 100%;
              height: 100%;
              cursor: pointer;
            }

            &:hover {
              &::before {
                opacity: 1;
              }
            }
          }
        }

        .social-content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: .5rem;
          font-size: $font-size-sm;

          li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            opacity: 0.4;
            transition: all 0.35s;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .active-content {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .contact {
    height: auto;
    margin-top: 10rem;

    .tab-menu-container {
      max-width: 80%;
    }
  }
}
@media screen and (max-width: 767px) {
  .contact {
    margin-top: 4.5rem;

    .tab-menu-container {
      max-width: 90%;

      /**********[ tabs ]**********/
      .tabs {
        width: 100%;
        height: 3rem;
      }

      /**********[ contents ]**********/
      .content-tabs {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 460px) {
}
