@import '../../App.scss';

.contact {
  margin: 6rem 0;
  width: 100%;

  /**********[ contact container ]**********/
  .contact-container {
    background-color: $hover-gray;
    -webkit-backdrop-filter: blur(135px);
    backdrop-filter: blur(135px);
    width: 80%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 14px;
    position: relative;
    margin: 0 auto;
    padding: 2rem 0;

    /**********[ contact title ]**********/
    .contact-title {
      position: absolute;
      top: -3.5rem;
      left: 50%;
      transform: translateX(-50%);
      font-family: 'Jadyn Maria';
      font-size: 35px;
      color: $text-black;
      // font-weight: 700;
    }

    /**********[ email box ]**********/
    .email-box {
      // background-color: hotpink;
      // width: 35%;
      width: 500px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      form {
        background-color: $hover-gray;
        -webkit-backdrop-filter: blur(135px);
        backdrop-filter: blur(135px);
        border-radius: 14px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        position: relative;

        /**********[ email title ]**********/
        .email-title {
          position: absolute;
          top: -1rem;
          left: 50%;
          transform: translateX(-50%);
          font-family: 'Jadyn Maria';
          font-size: 25px;
          font-weight: 700;
          color: $text-black;
        }

        .input-box {
          width: 100%;
          height: 3rem;
          margin-bottom: 0.4rem;
        }
        .textarea-box {
          width: 100%;
          height: 250px;
          margin-bottom: 0.4rem;
        }

        .input,
        .textarea,
        select {
          -moz-user-select: auto;
          -webkit-user-select: auto;
          -ms-user-select: auto;
          user-select: auto;
          line-height: 1.5;
          font-size: 16px;
          font-weight: 500;
          color: $text-black;
          width: 100%;
          height: 100%;
          padding: 0 1rem;
          border-radius: 0.875rem;
          background-color: $main-white;
          border: 0.125rem $primary-gray solid;
          box-shadow: 0 0 0 4px transparent;
          -webkit-box-shadow: 0 0 0 4px transparent;
          transition: all 0.35s;

          &:focus {
            background-color: $primary-gray;
            outline: none;
            color: $text-white;

            &::placeholder {
              color: $text-white;
            }
          }

          &::placeholder {
            color: $text-black;
            text-transform: uppercase;
            opacity: 0.6;
          }
        }

        .textarea {
          padding: 1rem;
          resize: none;
        }

        /**********[ send button ]**********/
        .send-btn {
          background-color: $primary-gray;
          color: $text-white;
          width: 100%;
          height: 3rem;
          padding: 0.6rem;
          border: none;
          border-radius: 0.875rem;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1px;
          cursor: pointer;
          transition: all 0.35s;
        }
      }
    }

    /**********[ profile box ]**********/
    .profile-box {
      // background-color: hotpink;
      border-radius: 14px;
      // width: 35%;
      width: 500px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 1rem;

      .profile-items {
        display: flex;
        align-items: center;
        line-height: 2.8;
        font-size: 16px;

        h2 {
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        a {
          margin-left: 0.4rem;
          padding: 0.2rem 0.4rem;
          border-radius: 14px;
          letter-spacing: 0;
          text-transform: none;
          opacity: 0.7;
          transition: all 0.35s;

          &:hover {
            background-color: $primary-gray;
            color: $text-white;
            opacity: 1;
          }
        }
      }
      .profile-contact {
        background-color: $hover-gray;
        -webkit-backdrop-filter: blur(135px);
        backdrop-filter: blur(135px);
        width: 100%;
        height: 45%;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .profile-contact-title {
          position: absolute;
          top: -1rem;
          left: 50%;
          transform: translateX(-50%);
          font-family: 'Jadyn Maria';
          font-size: 25px;
          font-weight: 700;
          color: $text-black;
        }
      }
      .profile-social {
        // background-color: rgba($color: #000000, $alpha: 0.2);
        background-color: $hover-gray;
        -webkit-backdrop-filter: blur(135px);
        backdrop-filter: blur(135px);
        width: 100%;
        height: 45%;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .profile-social-title {
          position: absolute;
          top: -1rem;
          left: 50%;
          transform: translateX(-50%);
          font-family: 'Jadyn Maria';
          font-size: 25px;
          font-weight: 700;
          color: $text-black;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .contact {
    /**********[ contact container ]**********/
    .contact-container {
      width: 96%;
      padding: 1rem 0;
      position: relative;

      /**********[ contact title ]**********/
      .contact-title {
        font-size: 30px;
      }

      /**********[ email box ]**********/
      .email-box {
        width: 50%;

        form {
          /**********[ email title ]**********/
          .email-title {
          }

          /**********[ send button ]**********/
          .send-btn {
            font-size: 14px;
          }
        }
      }

      /**********[ profile box ]**********/
      .profile-box {
        width: 50%;

        .profile-items {
          font-size: 14px;

          a {
            padding: 0.4rem 0.4rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .contact {
    /**********[ contact container ]**********/
    .contact-container {
      width: 96%;
      height: 1200px;
      // padding: 1rem 0;
      padding: 0;
      position: relative;
      flex-wrap: wrap;

      /**********[ email box ]**********/
      .email-box {
        // background-color: skyblue;
        width: 100%;
        height: 49%;

        form {
          /**********[ email title ]**********/
          .email-title {
            font-size: 20px;
          }

          /**********[ send button ]**********/
          .send-btn {
            font-size: 14px;
          }
        }
      }

      /**********[ profile box ]**********/
      .profile-box {
        // background-color: sienna;
        width: 100%;
        height: 45%;

        .profile-items {
          font-size: 14px;

          a {
            padding: 0.4rem 0.4rem;
          }
        }

        .profile-contact-title {
          font-size: 20px !important;
        }
        .profile-social-title {
          font-size: 20px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
}
