@charset "UTF-8";

/**********[ fonts ]**********/
// 로고 폰트
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
// font-family: 'Petit Formal Script';

// 반듯한 고딕체
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

// 명조 폰트
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
// font-family: 'Iropke Batang', serif;

// 바코드 폰트
@font-face {
  font-family: 'LibreBarcode39Text-Regular';
  src: url(../asstes/fonts/LibreBarcode39Text-Regular.ttf);
}

// 필기체 폰트
@font-face {
  font-family: 'SSVeryBadHandwriting';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/SSVeryBadHandwriting.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Humanbumsuk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

// 도트 폰트
@font-face {
  font-family: 'HBIOS-SYS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

/**********[ colors ]**********/
// light mode colors
$light-back: #e9e4cf;
$light-text: #000;
$light-primary: #c44129;

// dark mode colors
$dark-back: #1C1C1E;
$dark-back2: #2C2C2E;
$dark-text1: #D1D1D6;
$dark-text2: #E5E5EA;
$dark-primary1: #a2aaad;
$dark-primary2: #0A84FF;

/**********[ initialization ]**********/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba($color: #000000, $alpha: 1);
}

html {
  width: 100%;
  height: 100%;
  // font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  //   Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-color: $dark-back;
}

li,
a {
  list-style: none;
  text-decoration: none;
}
