@charset "UTF-8";
@import './colors.scss';

// fonts
// 로고 폰트
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

@font-face {
  // 타자기 폰트
  font-family: 'DXTypeB-KSCpc-EUC-H';
  src: url(../asstes/fonts/DXTypeB-KSCpc-EUC-H.ttf);
}
@font-face {
  // 바코드 폰트
  font-family: 'LibreBarcode39Text-Regular';
  src: url(../asstes/fonts/LibreBarcode39Text-Regular.ttf);
}

// colors
$back-1: #5e0a0a;
$back-2: #000000;
$back-3: #3b3b3b;
$text-1: rgb(221, 221, 221);
$text-2: #F2F0E6;
$text-3: #0e0e0e;

// 초기화
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba($color: #000000, $alpha: 1);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  // background-color: #d1d1d1;
  background-color: rgba($color: $back-2, $alpha: 1);
}

canvas {
  width: 100%;
  height: 100%;
}

li,
a {
  list-style: none;
  text-decoration: none;
}
