// background color
$back-l-1: #fffef3;
$back-l-2: #f9f6ee;
$back-l-3: #ededed;
$back-d-1: #232323;

// text color
$text-l-1: #040301;
$text-l-2: #222223;
$text-l-3: #010001;

// primary colors (background and text)
$pri-b-1: #2f312a;
$pri-b-2: #b3b2ac;
$pri-b-3: #222223;
$pri-t-1: #bfa170;