$color1: #faf6ef;
$color2: #ebe0ca;
$color3: #a0814d;
$color4: #181626;
$color5: #0d0d0d;

$sec-color1: #687376;
$sec-color2: #809497;
$sec-color3: #c4bdb1;
// $sec-color4: #f1f1f1;
$sec-color4: #f5f3f3;
$sec-color5: #ffffff;

$nav-back1: #5F9BCF;
$nav-back2: #B2D9F7;
$nav-back2-blur: #b2d9f767;
$nav-back3: #CDEAF9;
$nav-text1: #0d0d0d;
$nav-text2: #f1f1f1;

$nav-back-1: #191632;
$nav-text-1: #DBE4EB;