@import '../styles/App.scss';

/**********[ layout ]**********/
.home {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .to-top-btn {
    position: fixed;
    bottom: 3rem;
    right: 3.5rem;
    outline: none;
    border: none;
    width: 60px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: rgba($color: $dark-back2, $alpha: 0.8);
    backdrop-filter: blur(14px);
    color: $dark-text1;
    cursor: pointer;
    transition: all 0.35s;

    &:hover {
      background-color: $dark-back3;
    }
  }

  .home-welcome-msg {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.35s;
    opacity: 1;

    &.opa-0 {
      opacity: 0;
    }

    p {
      color: $dark-text1;
      font-family: 'SUIT-Regular';
      text-transform: uppercase;
      font-size: 35px;
      font-weight: 900;
      letter-spacing: 1px;
      background-image: linear-gradient(
        -225deg,
        $dark-back 0%,
        $dark-text1 29%,
        $dark-back3 67%,
        $dark-back 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
    }
  }

  .home-sections-1 {
    // background-color: yellow;
    margin-top: 100vh;
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.35s;

    .home-about {
      width: 100%;
      height: 80vh;
      max-width: 900px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;
      padding-right: 2rem;
      transition: all 0.35s;
      position: relative;

      .about-desc {
        font-family: 'SUIT-Regular';
        font-weight: 300;
        color: $dark-text1;
        line-height: 2;
        opacity: 0;

        a {
          color: $dark-back3;
          background-color: $dark-text1;
          transition: all 0.35s;

          &:hover {
            text-decoration: underline;
          }
        }

        h1 {
          font-size: 25px;
        }

        p {
          font-size: 14px;
        }
      }

      .about-link {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .about-text {
        // width: 50%;
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'SUIT-Regular';
        transition: all 0.35s;
        color: $dark-text1;
        opacity: 0;
        height: 0vh;

        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        .about-text {
          opacity: 1;
          height: 100%;
        }
      }
    }

    .home-projects {
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .projects-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: 'SUIT-Regular';
        transition: all 0.35s;
        color: $dark-text1;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .projects-link {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .home-sections-2 {
    // background-color: yellow;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.35s;

    .contact-text {
      // background-color: red;
      font-size: 18px;
      letter-spacing: 1px;
      font-family: 'SUIT-Regular';
      margin-bottom: 3rem;
      color: $dark-text1;
      background-image: linear-gradient(
        -225deg,
        $dark-back 0%,
        $dark-text1 29%,
        $dark-back3 67%,
        $dark-back 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
    }
    .contact-component {
    }
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
