@import './colors.scss';

.back-to-home {
  // background-color: red;
  width: 120px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 73px;
  transition: all 0.35s;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;

    p {
      font-size: 14px;
      text-transform: uppercase;
      padding: 0.4rem;
      // height: 100%;
      opacity: 0;
      height: 0vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      letter-spacing: 1px;
      transition: all 0.35s;
      color: $color5;
    }

    span {
      display: block;
      width: 40px;
      height: 100%;
      position: relative;
      transition: all 0.35s;
      right: 0;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 40%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-top: 1px solid $color5;
        border-right: 1px solid $color5;
        transform: rotate(225deg);
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: $color5;
      }
    }
  }

  &:hover {
    a {
      p {
        height: 100%;
        opacity: 1;
        letter-spacing: -1px;
      }
    }

    span {
      right: 5px;
    }
  }
}

.home {
  // background-color: rgba($color: #000000, $alpha: .2);
  width: 100%;
  margin-top: 120px;
  height: calc(100vh - 120px);
  transition: all 0.35s;
  z-index: -1;
  
  .home-container {
    // background-color: rgba($color: #000000, $alpha: .2);
    width: 100%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    .home-section-1 {
      // background-color: rgba($color: #000000, $alpha: .2);
      background-color: $color4;
      width: 1000px;
      height: 500px;
      transition: all 0.35s;
      position: relative;

      &:before,
      &:after {
        z-index: -1;
        position: absolute;
        content: '';
        bottom: 25px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 35px 20px #777;
        -moz-box-shadow: 0 35px 20px #777;
        box-shadow: 0 35px 20px #777;
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
      }
      &:after {
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg);
        right: 10px;
        left: auto;
      }
    }
  }
}

.home.full {
  
  .home-container {
    max-width: 100%;

    .home-section-1 {
      width: 100%;
      height: 100vh;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      margin-top: 250px;
      box-shadow: 0 -5px 5px -5px #333;
      // z-index: auto;
    }
  }
}
