@import '../styles/App.scss';

/**********[ layout ]**********/
.home {
  // background-color: rgba($color: #a600ff, $alpha: 0.2);
  width: 90%;
  // height: calc(100vh - 85px);
  height: 300vh;
  margin: 0 auto;
  margin-top: 120px;
  // border-left: 80px dashed black;
  // border-right: 80px dashed black;

  .home-container {
    // background-color: rgba($color: #a600ff, $alpha: 0.2);
    max-width: 1000px;
    width: 100%;
    height: calc(100vh - 85px);
    margin: 0 auto;

    .home-section-1 {
      // background-color: rgba($color: #a600ff, $alpha: 0.2);
      position: relative;
      width: 100%;
      height: 100%;

      .section-top-right-text {
        position: absolute;
        top: -20px;
        right: 15px;
        font-family: 'SSVeryBadHandwriting';
        font-size: 14px;
        opacity: 0.7;
        color: $text-2;
      }

      .invitation-ticket {
        // background-color: rgba($color: #e7ff5d, $alpha: 0.2);
        background-color: $back-3;
        width: 100%;
        height: 100%;
        position: relative;

        .invitation {
          background-color: rgba($color: #e7ff5d, $alpha: 0.2);
          width: 350px;
          height: 450px;
          position: absolute;
          top: 50%;
          left: 40%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          align-items: center;

          .invitation-top {
            background-color: rgba($color: #e7ff5d, $alpha: 0.2);
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .invitation-title {
              font-size: 25px;
              font-family: 'Petit Formal Script';
              font-weight: 700;
            }
            .invitation-title-2 {
              font-size: 35px;
              font-family: 'Petit Formal Script';
            }
          }

          .invitation-bottom {
            background-color: rgba($color: #e7ff5d, $alpha: 0.2);
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 1rem;
            border-top: 1px solid black;

            .invitation-text {
              background-color: rgba($color: #e7ff5d, $alpha: 0.2);
              font-size: 14px;
            }

            .invitation-text-1 {
              // font-family: 'SUIT-Regular';
              font-family: 'Petit Formal Script';
            }
            .invitation-text-2 {
              font-family: 'Petit Formal Script';
              position: absolute;
              bottom: 1rem;
              right: 1rem;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
