@import '../styles/App.scss';

/**********[ layout ]**********/
.navbar {
  // background-color: yellow;
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;

  a,
  p {
    color: $text-2;
    // font-family: 'SUIT-Regular';
  }

  .logo-font {
    font-family: 'Petit Formal Script';
  }

  .navbar-container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 22px;
    display: flex;
    align-items: center;
    position: relative;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .logo-link-a {
        font-size: 55px;
      }
    }
    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 0;
      // opacity: 0;
      // pointer-events: none;
      transform: translateY(-50%);
      transition: all 0.35s;

      p {
        background-color: $back-film-1;
        width: 60px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'SUIT-Regular';
        color: $text-film-1;
      }
    }
    .menus {
      position: fixed;
      top: -100vh;
      right: 10px;
      width: 250px;
      margin-top: 85px;
      height: calc(100vh - 85px);
      backdrop-filter: blur(8px);
      opacity: 0;
      transition: all 0.35s linear;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;

      &.show-menu {
        top: 0;
        opacity: 1;
      }

      .film-bg {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba($color: $back-film-1, $alpha: 0.9);
        padding: 5px;
        padding-top: 2em;
        border-left: 15px dashed rgba($color: $back-film-2, $alpha: 0.9);
        border-right: 15px dashed rgba($color: $back-film-2, $alpha: 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          right: -25px;
          bottom: -10px;
          left: -25px;
          border: 10px solid rgba($color: $back-film-1, $alpha: 0.9);
          border-bottom: none;
        }

        .film-text-color {
          color: $text-film-1;
        }

        .film-logo {
          position: absolute;
          top: 10px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 14px;
        }

        .film-box {
          width: 95%;
          height: 29%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .film-title-box {
            margin-top: 0.2rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            font-family: 'SSVeryBadHandwriting';
            line-height: 1.5;
          }

          .film-link {
            background-color: $back-film-2;
            display: block;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
          .film-home {
          }
          .film-about {
          }
          .film-projects {
          }
        }
      }
    }

    .nav-icons {
    }
  }
}

/**********[ navbar-change ]**********/
.navbar.navbar-change {
  .navbar-container {
    position: relative;

    .logo {
      left: 35px;

      .logo-link-a {
        font-size: 35px;
      }
    }
    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      // opacity: 1;
      // pointer-events: all;
    }

    .menus {
      display: block;
    }
  }
}
