@import '../styles/App.scss';

/**********[ navbar ]**********/
.navbar {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  transition: all 0.35s;

  a,
  p {
    color: $dark-text1;
  }

  .logo-font {
    font-family: 'Petit Formal Script';
  }

  /**********[ navbar container ]**********/
  .navbar-container {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 22px;
    display: flex;
    align-items: center;
    position: relative;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .logo-link-a {
        font-size: 55px;
      }
    }
    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 0;
      // opacity: 0;
      // pointer-events: none;
      transform: translateY(-50%);
      transition: all 0.35s;

      p {
        background-color: $dark-back;
        width: 60px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: 'SUIT-Regular';
        color: $dark-text1;
        transition: all 0.35s;
        border-radius: 4px;
        outline: 2px solid transparent;

        &:hover {
          outline: 2px solid $dark-primary2;
        }
      }
    }

    /**********[ menu list box ]**********/
    .menus {
      position: fixed;
      top: -100vh;
      right: 10px;
      width: 260px;
      height: auto;
      margin-top: 85px;
      height: auto;
      backdrop-filter: blur(8px);
      opacity: 0;
      transition: all 0.35s linear;
      box-shadow: rgba(0, 0, 0, 0.9) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;

      &.show-menu {
        top: 0;
        // transform: translateY(-50%);
        opacity: 1;
      }

      .film-bg {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba($color: $dark-back, $alpha: 0.9);
        backdrop-filter: blur(3px);
        padding: 5px;
        padding-top: 2em;
        border-left: 15px dashed rgba($color: $dark-primary1, $alpha: 0.6);
        border-right: 15px dashed rgba($color: $dark-primary1, $alpha: 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 0;
          right: -25px;
          bottom: -10px;
          left: -25px;
          // border: 10px solid rgba($color: $back-film-1, $alpha: 0.9);
          border: 10px solid rgba($color: $dark-back, $alpha: 0.9);
        }

        .film-text-color {
          // color: $text-film-1;
          color: $dark-text1;
        }

        .film-logo {
          position: absolute;
          top: 10px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 14px;
        }

        /**********[ film box ]**********/
        .film-box {
          width: 92%;
          height: 29%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .film-title-box {
            // margin-top: 0.2rem;
            // margin-bottom: 0.2rem;
            margin: 0.6rem 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            font-family: 'SSVeryBadHandwriting';
            line-height: 1.7;
          }

          .film-link {
            display: block;
            width: 100%;
            height: 150px;
            cursor: pointer;
            transition: all 0.2s;
            border-radius: 8px;
            outline: 5px solid rgba($color: $dark-primary1, $alpha: 0.5);
            margin: 0.2rem 0;
            isolation: isolate;
            
            &:hover {
              scale: 1.1;
              outline: 5px solid rgba($color: $dark-primary2, $alpha: 1);
            }
            img {
              width: 100%;
              height: 100%;
              background-size: cover;
              background-position: center;
              border-radius: 8px;
            }
          }
          .film-home {
          }
          .film-about {
          }
          .film-projects {
          }
        }
      }
    }

    .nav-icons {
    }
  }
}

/**********[ navbar change ]**********/
.navbar.navbar-change {
  height: 85px;
  .navbar-container {
    position: relative;

    .logo {
      left: 35px;

      .logo-link-a {
        font-size: 35px;
      }
    }
    .menu-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      // opacity: 1;
      // pointer-events: all;
    }

    .menus {
      display: block;
    }
  }
}
