@import './colors.scss';

/******************************
  projects page
*******************************/
.projects-section1 {
  // background-color: $pri-b-3;
  background-color: $color1;
  // box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  width: 100%;
  height: 100%;
  display: flex;

  .projects-content-desc-box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    color: $color5;

    .desc-box-1 {
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .desc-box-2 {
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .projects-content-box {
    width: 50%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color5;

    .p-box-item {
      background-color: $color5;
      border: 1px solid black;
      width: 100%;
      height: 50%;
      margin: 0.4rem;
      display: flex;
      padding: 1rem;
      transition: all 0.35s;
      position: relative;
      cursor: pointer;

      .hidden-text {
        display: none;
      }

      &:hover {
        // background-color: rgba($color: #000000, $alpha: 0.8);

        .hidden-text {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          color: $color1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .project-image {
        background-color: rgba($color: #000000, $alpha: 0.2);
        width: 40%;
        height: 100%;
      }

      .project-desc-box {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-around;

        .project-title {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: center;

          .project-name {
            margin: 0.4rem;
          }
          .project-date {
            opacity: 0.7;
          }
        }
        .project-desc {
          width: 100%;
          height: 70%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
