@import '../../styles/App.scss';

.page-nav {
  background-color: rgba($color: $dark-back, $alpha: 0.8);
  backdrop-filter: blur(14px);
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 22px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .home-btn {
    a {
      background-color: $dark-back;
      width: 55px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      // font-family: 'SUIT-Regular';
      color: $dark-text1;
      transition: all 0.35s;
      border: 2px solid transparent;

      &:hover {
        outline: 2px solid $dark-primary2;
      }
    }
  }

  .page-nav-logo {
    color: $dark-text1;
    font-size: 25px;
    font-family: 'Petit Formal Script';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    cursor: pointer;
    transition: all 0.35s;

    p {
      background-color: $dark-back;
      width: 55px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      // font-family: 'SUIT-Regular';
      color: $dark-text1;
      transition: all 0.35s;
      outline: 2px solid transparent;

      &:hover {
        outline: 2px solid $dark-primary2;
      }
    }
    &.btn-clicked p {
      background-color: darken($dark-primary2, 8%);
    }
  }

  /**********[ menu list box ]**********/
  .menus {
    background: rgba($color: $dark-back, $alpha: 1);
    backdrop-filter: blur(14px);
    position: fixed;
    right: -200vw;
    top: 0;
    width: 260px;
    height: auto;
    margin-top: 85px;
    height: auto;
    opacity: 0;
    transition: all 0.5s linear;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;

    &.show-menu {
      right: 0;
      opacity: 1;
    }

    .film-bg {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 2.5rem;
      padding-top: 2.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .film-text-color {
        color: $dark-text1;
      }

      .film-logo {
        font-family: 'Petit Formal Script';
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
      }

      /**********[ film box ]**********/
      .film-box {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:hover {
          .film-title-box {
            opacity: 1;
          }
          .film-link {
            &:hover {
              scale: 1.1;
              border: 3px solid rgba($color: $dark-primary2, $alpha: 1);
            }
          }
        }

        .film-title-box {
          margin: 0.6rem 0;
          margin-bottom: 1rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 14px;
          // font-family: 'SUIT-Regular';
          line-height: 1.5;
          opacity: 0.7;
        }

        .film-link {
          display: block;
          width: 100%;
          height: 130px;
          cursor: pointer;
          transition: all 0.2s;
          border: 3px solid rgba($color: $dark-back3, $alpha: 1);
          margin: 0.2rem 0;
          border-radius: 12px;

          img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
          }
        }
        .film-about {
          background: url('../../asstes/imgaes/about-link-image.png');
          background-size: cover;
          background-position: center;
        }
        .film-projects {
          background: url('../../asstes/imgaes/projects-link-image.png');
          background-size: cover;
          background-position: center;
        }
        .film-contact {
          background: url('../../asstes/imgaes/contact-link-image.png');
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

/**********[ responsive ]**********/
@media screen and (max-width: 1023px) {
  /* 타블렛 */
  .page-nav {
    padding: 0 8px;
  }
}
@media screen and (max-width: 640px) {
  /* 모바일 */
  .page-nav {
    height: 65px;
    padding: 0 4px;

    /**********[ menu list box ]**********/
    .menus {
      margin-top: 65px;
      width: 100%;

      .film-bg {
        /**********[ film box ]**********/
        .film-box {
          margin-top: 1rem;

          &:hover {
            .film-title-box {
              a {
                color: $dark-primary2;
                opacity: 1;
              }
            }
          }

          .film-title-box {
            font-size: 14px;
            cursor: pointer;

            a {
              opacity: 0.7;
              color: $dark-text1;
              transition: all 0.35s;
            }
          }

          .film-link {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  /* 모바일 */
  .page-nav {
    padding: 0;

    .menu-btn {
    }

    /**********[ menu list box ]**********/
    .menus {
      margin-top: 55px;
      width: 100%;

      .film-bg {
        /**********[ film box ]**********/
        .film-box {
          margin-top: 1rem;

          &:hover {
            .film-title-box {
              a {
                color: $dark-primary2;
                opacity: 1;
              }
            }
          }

          .film-title-box {
            font-size: 14px;
            cursor: pointer;

            a {
              opacity: 0.7;
              color: $dark-text1;
              transition: all 0.35s;
            }
          }

          .film-link {
            display: none;
          }
        }
      }
    }
  }
}
