@import '../../../App.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;
  cursor: default;
  transition: all 0.35s ease-in-out;

  .header-container {
    background-color: rgba($color: $primary-color, $alpha: 0.007);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 0.25px solid rgba($color: $primary-color, $alpha: 0.07);
    width: 100%;
    height: 100%;
    transition: all 0.35s ease-in-out;

    &:hover {
      background-color: rgba($color: $primary-color, $alpha: 0.1);
      backdrop-filter: blur(135px);
      -webkit-backdrop-filter: blur(135px);

      .main-header {
        .active-link {
          opacity: 0.4;
        }

        .header-logo {
          .logo {
            opacity: 0.8;
          }
        }

        .header-contact {
          .contact-item {
            opacity: 0.8;
          }
        }
      }
    }

    /**********[ main header ]**********/
    .main-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 96%;
      height: 100%;
      margin: 0 auto;
      .open-menu-btn {
        display: none;
      }
      .active-link {
        color: $text-white;
        text-transform: uppercase;
        font-size: $font-size-sm;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        opacity: 0.2;
        transition: all 0.35s;

        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
          font-weight: 700;
        }
      }
      .header-logo {
        .logo {
          font-family: 'Petit Formal Script';
          color: $text-white;
          font-size: $font-size-xl;
          font-weight: 600;
          opacity: 0.4;
        }
      }
      .main-nav {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        ul {
          display: flex;
          height: 100%;
          gap: 4rem;
        }
      }
      .header-contact {
        height: 100%;

        .contact-item {
          opacity: 0.4;
        }
      }
    }

    /**********[ secondary header ]**********/
    .secondary-header {
      display: none;

      .secondary-nav {
        opacity: 1;
        transition: all 0.7s;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    height: auto;

    .header-container {
      height: 100px;

      &.open {
        position: fixed;
        top: 0;
        left: 0;
        height: auto;

        &:hover {
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
        }

        .main-header {
          z-index: 1;
        }

        .secondary-header {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-end;
          opacity: 1;

          .background-title {
            position: absolute;
            top: 100px;
            left: -1rem;
            opacity: 0.4;
            line-height: 0.5;
            z-index: 2;
          }

          .secondary-nav {
            background-color: rgba($color: $secondary-color-02, $alpha: 0.9);
            width: 50%;
            height: 100vh;
            opacity: 1;
            padding: 5%;
            padding-top: 25vh;
            overflow: auto;
            position: relative;
            // scrollbar-width: none;
            // -ms-overflow-style: none;

            &::-webkit-scrollbar {
              // display: none;
            }

            .sn-title {
              text-transform: uppercase;
              font-weight: 500;
              opacity: 0.4;
              font-size: $font-size-xs;
              margin-bottom: 0.5rem;
              color: $text-white;
            }
            .sn-item {
              text-transform: uppercase;
              font-size: $font-size-xl;
              color: $text-white;
              line-height: 2.5rem;
              opacity: 0.8;
              font-weight: 500;
              transition: all 0.35s;

              &:hover {
                opacity: 1;
              }
            }
            .sn-container {
              display: flex;
              flex-direction: column;
              gap: 3rem;

              .sn-menu {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
              }
              .sn-contact {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
              }
              .sn-social {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                li {
                  display: flex;
                  align-items: center;
                  gap: 1.5rem;
                }

                .sn-item {
                  width: auto;
                }
              }
            }
          }
        }
      }
      .main-header {
        width: 90%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .main-nav {
          display: none;
        }
        .header-contact {
          display: none;
        }
        .open-menu-btn {
          width: 24px;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.3rem;
          cursor: pointer;
          transition: all 0.35s;

          span {
            background-color: $text-white;
            width: 100%;
            height: 0.05rem;
            height: 0.1rem;
            border-radius: 4px;
            opacity: 0.7;
            transition: all 0.35s;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          .first-bar {
            width: 100%;
            top: 45%;
          }
          .second-bar {
            width: 60%;
            top: 55%;
          }

          &:hover {
            span {
              opacity: 1;
            }
            .first-bar {
              width: 60%;
              top: 45%;
            }
            .second-bar {
              width: 100%;
              top: 55%;
            }
          }
          &.clicked {
            gap: 0;

            &:hover {
              .first-bar {
                width: 90%;
                top: 50%;
              }
              .second-bar {
                width: 90%;
                top: 50%;
              }
            }

            span {
              opacity: 1;
            }

            .first-bar {
              transform: rotate(-45deg);
              width: 90%;
              top: 50%;
            }
            .second-bar {
              width: 90%;
              top: 50%;
              transform: rotate(45deg);
            }
          }
        }
      }
      .secondary-header {
        opacity: 0;
        transition: opacity 0.7s ease-in-out;
        .secondary-nav {
          opacity: 0;
          transition: opacity 0.7s ease-in-out;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    .header-container {
      height: 60px;

      &.open {
        .secondary-header {
          // height: 100vh;

          .background-title {
            display: none;
          }
          .secondary-nav {
            background-color: rgba($color: $secondary-color-02, $alpha: 1);
            width: 100%;
            height: auto;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100vh;
            padding-top: 20vh;
            padding-bottom: 15vh;
            overflow: auto;

            .sn-item {
              font-size: $font-size-lg;
            }
            .sn-container {
              .sn-menu {
                align-items: flex-start;
              }
              .sn-contact {
                align-items: flex-start;
              }
              .sn-social {
                align-items: flex-start;
              }
            }
          }
        }
      }
      .main-header {
        height: 60px;

        .header-logo {
          .logo {
            font-size: 20px;
          }
        }
        .open-menu-btn {
          width: 20px;
        }
      }
    }
  }
}
