@import '../../../App.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;
  cursor: default;
  transition: all 0.35s ease-in-out;

  .header-container {
    background-color: rgba($color: $light-brown, $alpha: 0.007);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 0.25px solid rgba($color: $light-brown, $alpha: 0.07);
    width: 100%;
    height: 100%;
    transition: all 0.35s ease-in-out;

    &:hover {
      background-color: $light-brown;
    }

    /**********[ main header ]**********/
    .main-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 96%;
      height: 100%;
      margin: 0 auto;
      .open-menu-btn {
        display: none;
      }
      .active-link {
        color: $text-white;
        text-transform: uppercase;
        font-size: $font-size-sm;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        opacity: 0.4;
        transition: all 0.35s;

        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
          font-weight: 700;
        }
      }
      .header-logo {
        .logo {
          font-family: 'Petit Formal Script';
          color: $text-white;
          font-size: $font-size-xl;
          font-weight: 600;
        }
      }
      .main-nav {
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        ul {
          display: flex;
          height: 100%;
          gap: 4rem;
        }
      }
      .header-contact {
        height: 100%;

        .contact-item {
          opacity: 1;
        }
      }
    }

    /**********[ secondary header ]**********/
    .secondary-header {
      display: none;

      .secondary-nav {
        opacity: 1;
        transition: all 0.7s;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    height: auto;

    .header-container {
      height: 100px;

      &.open {
        background-color: rgba($color: $background-color, $alpha: 0.9);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        .main-header {
          .header-logo {
            .logo {
              color: $light-brown;
            }
          }
          .open-menu-btn {
            span {
              background-color: $light-brown;
            }
          }
        }

        .secondary-header {
          width: 90%;
          height: auto;
          margin: 100px auto;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 1;

          .secondary-nav {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 3rem;
            opacity: 1;
            padding-top: 15vh;
            padding-bottom: 15vh;

            .sn-title {
              text-transform: uppercase;
              font-weight: 500;
              opacity: 0.4;
              font-size: $font-size-xs;
              margin-bottom: 0.5rem;
              color: $light-brown;
            }
            .sn-item {
              text-transform: uppercase;
              font-size: $font-size-xl;
              color: $light-brown;
              line-height: 2.5rem;
              opacity: 0.8;
              font-weight: 500;
              transition: all 0.35s;
              display: block;
              width: 50%;

              &:hover {
                opacity: 1;
              }
            }
            .sn-arrow {
              color: $light-brown;
              font-size: $font-size-sm;
              opacity: 0.4;
            }

            .sn-menu {
              display: flex;
              flex-direction: column;
            }
            .sn-social {
              li {
                display: flex;
                align-items: center;
                gap: 1.5rem;
              }

              .sn-item {
                width: auto;
              }
            }
          }
        }
      }
      .main-header {
        width: 90%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .main-nav {
          display: none;
        }
        .header-contact {
          display: none;
        }
        .open-menu-btn {
          width: 24px;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.3rem;
          cursor: pointer;
          transition: all 0.35s;

          span {
            background-color: $text-white;
            width: 100%;
            height: 0.05rem;
            height: 0.1rem;
            border-radius: 4px;
            opacity: 0.7;
            transition: all 0.35s;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
          .first-bar {
            width: 100%;
            top: 45%;
          }
          .second-bar {
            width: 60%;
            top: 55%;
          }

          &:hover {
            span {
              opacity: 1;
            }
            .first-bar {
              width: 60%;
              top: 45%;
            }
            .second-bar {
              width: 100%;
              top: 55%;
            }
          }
          &.clicked {
            gap: 0;

            &:hover {
              .first-bar {
                width: 90%;
                top: 50%;
              }
              .second-bar {
                width: 90%;
                top: 50%;
              }
            }

            span {
              opacity: 1;
            }

            .first-bar {
              transform: rotate(-45deg);
              width: 90%;
              top: 50%;
            }
            .second-bar {
              width: 90%;
              top: 50%;
              transform: rotate(45deg);
            }
          }
        }
      }
      .secondary-header {
        opacity: 0;
        transition: opacity 0.7s ease-in-out;
        .secondary-nav {
          opacity: 0;
          transition: opacity 0.7s ease-in-out;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    .header-container {
      height: 60px;

      &.open {
        .secondary-header {
          margin: 60px auto;

          .secondary-nav {
            .sn-item {
              font-size: $font-size-lg;
              width: 80%;
            }
            .sn-arrow {
              opacity: 0.4;
              font-size: $font-size-sm;
            }
          }
        }
      }
      .main-header {
        height: 60px;

        .header-logo {
          .logo {
            font-size: 20px;
          }
        }
        .open-menu-btn {
          width: 20px;
        }
      }
    }
  }
}
