@import '../../../App.scss';

.header {
  background-color: rgba($color: $secondary-color, $alpha: 0.007);
  border-bottom: 0.25px solid rgba($color: $secondary-color, $alpha: 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 9999;
  cursor: default;
  transition: all 0.35s ease-in-out;

  .header-container {
    width: 100%;
    height: 100%;
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .h-open-btn {
      display: none;
    }
    .h-side-nav {
      display: none;
    }
    .h-logo {
      height: 100%;

      .logo {
        height: 100%;

        a {
          height: 100%;
          padding: 0 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .h-menu {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      height: 100%;
      gap: 1rem;
      transform: translate(-50%, -50%);
      li {
        height: 100%;
      }
    }
    .h-contact {
      // background-color: hotpink;
      height: 100%;
    }
    .h-item {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      text-transform: uppercase;
      color: $text-white;
      font-size: $font-size-sm;
      opacity: 0.4;
      transition: all 0.35s;
      font-weight: 500;

      &:hover {
        opacity: 1;
      }
      &.active {
        font-weight: 700;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .header {
    .header-container {
      max-width: 90%;
      .h-menu {
        display: none;
      }
      .h-contact {
        display: none;
      }
      .h-open-btn {
        width: 24px;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        cursor: pointer;
        transition: all 0.35s;
        z-index: 9999;

        span {
          background-color: $text-white;
          width: 100%;
          height: 0.05rem;
          height: 0.1rem;
          border-radius: 4px;
          opacity: 0.7;
          transition: all 0.35s;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
        .first-bar {
          width: 100%;
          top: 45%;
        }
        .second-bar {
          width: 60%;
          top: 55%;
        }

        &:hover {
          span {
            opacity: 1;
          }
          .first-bar {
            width: 60%;
            top: 45%;
          }
          .second-bar {
            width: 100%;
            top: 55%;
          }
        }
        &.clicked {
          gap: 0;

          &:hover {
            .first-bar {
              width: 90%;
              top: 50%;
            }
            .second-bar {
              width: 90%;
              top: 50%;
            }
          }

          span {
            opacity: 1;
            background-color: $primary-color;
          }

          .first-bar {
            transform: rotate(-45deg);
            width: 90%;
            top: 50%;
          }
          .second-bar {
            width: 90%;
            top: 50%;
            transform: rotate(45deg);
          }
        }
      }
      .h-side-nav {
        background-color: $white-color;
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100vh;
        transition: all 0.35s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .h-item {
          font-size: $font-size-lg;
          color: $secondary-color-02;
          opacity: 1;
          position: relative;
          display: inline-block;

          &.active {
            color: $primary-color;
            &::after {
              content: '';
              background-color: $primary-color;
              position: absolute;
              top: 50%;
              left: 0.3rem;
              transform: translateY(-50%) rotate(24deg);
              width: 0.2rem;
              height: 85%;
              border-radius: 1px;
            }
          }
        }
        .hs-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          // justify-content: center;
          gap: 3rem;
          overflow: auto;
          padding: 30vh 0;

          .hs-start {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
          }
          .hs-end {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
          }
        }

        &.open-side {
          right: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    height: 70px;
    .header-container {
      .h-logo {
        .logo {
          font-size: 20px;
        }
      }
      .h-open-btn {
        width: 20px;
      }
      .h-side-nav {
        width: 80%;
        .h-item {
          font-size: $font-size-xl;
          &.active {
            &::after {
              height: 80%;
            }
          }
        }
      }
    }
  }
}
