* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// colors
$backColor: #f1f1f1;
$textColor: #333333;

body {
  background-color: $backColor;
  height: 170vh;

  li, a {
    list-style: none;
    text-decoration: none;
    color: $textColor;
  }
}