@import '../../../styles/variable';

.footer {
  width: 100%;
  height: auto;
  margin-top: auto;
  cursor: default;

  .footer-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .secondary-footer {
      background-color: $primary-color;
      width: 100%;
      height: 45vh;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7rem;
      padding: 0 2%;

      .footer-title {
        text-transform: uppercase;
        font-size: $font-size-xs;
        color: $text-white;
        opacity: 0.4;
      }

      .link-item {
        text-transform: uppercase;
        font-size: $font-size-xs;
        font-weight: 500;
        color: $text-white;
        opacity: 0.8;
        line-height: 1.8rem;
        transition: all 0.35s;

        &:hover {
          opacity: 1;
        }
      }

      .sf-start {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        .menu-nav {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          align-items: center;
          gap: 1rem;

          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-items: center;
          }
        }
      }
      .sf-end {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .sc-menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-items: center;
          text-align: right;
          gap: 1rem;

          ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-items: center;
          }
        }
      }
    }
    .main-footer {
      background-color: darken($primary-color, 3%);
      width: 100%;
      height: 100px;
      padding: 0 2%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      .main-footer-text {
        color: $white;
        text-transform: uppercase;
        font-size: $font-size-xs;
        opacity: 0.7;
      }

      .footer-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 460px) {
}
