// main color & primary color
$main-white: #ffffff;
$main-black: #000000;
$main-gray: #1d1d1d;

// primary color & secondary
$primary-color: #7aaccd;
$secondary-color: #e4f0f9;
$secondary-color-02: #a9c5db;

// light color
$light-color: #f3ede5;
$light-color-02: #dac9be;

// dark color
$dark-color: #3c1b12;
$dark-color-02: #c79c7c;

// basic color
$white: #ffffff;
$white-color: #ffffff;
$black-color: #121212;

// text color
$text-black: #272727;
$text-white: #fbfaff;

// font sizes
$font-size-xxs: 0.625rem; /* 10px */
$font-size-xs: 0.75rem; /* 12px */
$font-size-sm: 0.875rem; /* 14px */
$font-size-base: 1rem; /* 16px, base */
$font-size-lg: 1.125rem; /* 18px */
$font-size-xl: 1.5rem; /* 24px */
$font-size-xxl: 2rem; /* 32px */
$font-size-xxxl: 2.25rem; /* 36px */
