/**********[ variables ]**********/

// fonts
$bodoni-moda: 'Bodoni Moda', serif;
$homemade-apple: 'Homemade Apple', cursive;

// main color & primary color
$main-white: #ffffff;
$main-black: #000000;
$main-black: #f1ede4;
$main-gray: #1d1d1d;
$main-light-gray: rgb(244, 244, 244);

$background-color: #ebded5;
$primary-color: #ac480d;
$light-beige: #f4ede5;
$light-beige-2: #dac9be;
$dark-beige: #c79c7c;
$light-brown: #b38069;
$brown: #654e48;
$white: #ffffff;

$light-color: #baae9e;
$normal-color: #b7a090;
$darked-color: rgb(123, 57, 15);

$light-color2: #9d9988;
$normal-color2: #636456;

// text color
$text-black: #272727;
$text-white: #fbfaff;
$text-purple: #f9f8ff;

// font sizes
$font-size-xxs: 0.625rem; /* 10px */
$font-size-xs: 0.75rem; /* 12px */
$font-size-sm: 0.875rem; /* 14px */
$font-size-base: 1rem; /* 16px, base */
$font-size-lg: 1.125rem; /* 18px */
$font-size-xl: 1.5rem; /* 24px */
$font-size-xxl: 2rem; /* 32px */
$font-size-xxxl: 2.25rem; /* 36px */
