@import './App.scss';

.contact {
  // background-color: rgba($color: #000000, $alpha: 0.2);
  // background-color: yellow;
  width: 100%;
  height: calc(100vh - 64px);
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  /**********[ contact container ]**********/
  .contact-container {
    // background-color: rgba($color: #000000, $alpha: 0.2);
    // background-color: green;
    width: 100%;
    height: auto;
    max-width: 1080px;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    /**********[ email box ]**********/
    .email-box {
      // background-color: rgba($color: #000000, $alpha: 0.2);
      width: 550px;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;

      form {
        // background-color: hotpink;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
          font-size: 24px;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 1rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        .input-box {
          width: 100%;
          height: 3rem;
          margin-bottom: 0.4rem;
        }
        .textarea-box {
          width: 100%;
          height: 250px;
          margin-bottom: 0.4rem;
        }

        .input,
        .textarea,
        select {
          -moz-user-select: auto;
          -webkit-user-select: auto;
          -ms-user-select: auto;
          user-select: auto;
          line-height: 1.5;
          font-size: 16px;
          font-weight: 500;
          color: $text-color;
          width: 100%;
          height: 100%;
          padding: 0 1rem;
          border-radius: 0.875rem;
          background-color: $background-color;
          border: 0.125rem rgba(18, 18, 18, 0.06) solid;
          box-shadow: 0 0 0 4px transparent;
          -webkit-box-shadow: 0 0 0 4px transparent;

          &:focus {
            border-color: #f4502f;
          }

          &::placeholder {
            text-transform: uppercase;
            font-family: sans-serif;
            opacity: 0.7;
          }
        }

        .input {
          // background-color: red;
          &:focus {
          }
        }

        .textarea {
          padding: 1rem;
          resize: none;
          &::placeholder {
          }
        }
        .send-btn {
          background-color: $text-color;
          color: $background-color;
          width: 100%;
          height: 3rem;
          padding: 0.6rem;
          border: none;
          border-radius: 0.875rem;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1px;
          cursor: pointer;
        }
      }
    }

    /**********[ profile box ]**********/
    .profile-box {
      // background-color: rgba($color: #000000, $alpha: 0.4);
      width: 300px;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      text-align: center;

      .profile {
        // background-color: hotpink;
        // width: 100%;
        height: 45%;
        padding: 1rem;

        h1 {
          font-weight: 500;
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 0.8rem;
        }

        p,
        a {
          // background-color: red;
          display: block;
          color: $text-color;
          letter-spacing: 0;
          font-weight: normal;
          font-size: 14px;
          opacity: 0.7;
          text-transform: none;
          margin-top: 0.6rem;
          transition: all 0.35s;
        }

        a:hover {
          background-color: $text-color;
          color: $background-color;
          opacity: 1;
        }
      }

      .profile-1 {
        // background-color: hotpink;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        span {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 18px;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p,
          a {
          }
        }
      }
      .profile-2 {
        // background-color: hotpink;
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .contact {
    height: auto;

    .contact-container {
      flex-direction: column;
      height: auto;
      max-height: auto;

      .email-box {
        margin-bottom: 5rem;
      }

      .profile-box {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 460px) {
  .contact {
    margin-top: 120px;
    .contact-container {
      .email-box {
        // background-color: hotpink;
        width: 100%;
        margin-bottom: 5rem;
        font-size: 1rem;

        form {
          width: 100%;

          .input-box {
            margin-bottom: 0;
          }
          .name-input {
            margin-bottom: 0.8rem;
          }
          .textarea-box {
            width: 100%;
            height: 250px;
            margin-bottom: 0.4rem;
          }

          .input,
          .textarea {
            transform: scale(0.86);
          }

          .input {
            &::placeholder {
              // font-size: 1rem;
            }
          }
          .textarea {
            &::placeholder {
              // font-size: 1rem;
            }
          }

          .send-btn {
            // transform: scale(0.86);
            // font-size: 1rem;
            width: 100%;
            transform: scale(0.86);
            font-size: 14px;
          }
        }
      }

      .profile-box {
        width: 100%;
      }
    }
  }
}
