@import './App.scss';

.footer-section-container {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .footer-about-box {
    width: 50%;
    height: 100%;
    padding: 2rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    p {
      color: $text-color;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;

      a {
        color: $text-color;
        text-transform: none;
        font-weight: normal;
        opacity: 0.7;
        transition: all 0.35s;

        &:hover {
          color: $background-color;
          background-color: $text-color;
          opacity: 1;
        }
      }
    }
  }
  .footer-menu-links {
    width: 50%;
    height: 100%;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    a {
      color: $text-color;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.8;
      transition: all 0.35s;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
@media screen and (max-width: 1023px) {
  .footer-section-container {
    flex-direction: column;
    .footer-about-box {
      // background-color: hotpink;
      width: 100%;
      align-items: center;

      h1 {
        line-height: 3;
      }
      p {
        line-height: 2.5;
      }
    }
    .footer-menu-links {
      // background-color: skyblue;
      width: 100%;
      align-items: center;
      text-align: center;

      a {
        line-height: 3;
      }
    }
  }
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 460px) {
}
