@import './App.scss';

.projects {
  background-color: rgba($color: #fff, $alpha: 0.2);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .projects-container {
    background-color: rgba($color: #fff, $alpha: 0.2);
    position: relative;
    width: 100%;
    height: 500px;
    max-width: 1000px;
  }
}
