.home {
  background-color: rgba($color: #000000, $alpha: .2);
  width: 100%;
  height: 100%;

  .home-container {
    background-color: rgba($color: #000000, $alpha: .2);
    width: 100%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;

    .home-section1 {
      background-color: blue;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
  }
}