@import '../../styles/variable';

.to-top-btn {
  background-color: rgba($color: $primary-color, $alpha: 0.007);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  top: 75vh;
  right: -100%;
  opacity: 0;
  transition: all 0.8s;
  width: 45px;
  height: 45px;
  border: none;
  
  p {
    color: $text-white;
    font-size: $font-size-xxs;
  }

  &.to-top-show {
    opacity: 1;
    right: 2rem;
  }

  &:hover {
    background-color: $primary-color;
  }
}

@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 640px) {
  .to-top-btn {
    &.to-top-show {
      right: 1rem;
    }
  }
}
@media screen and (max-width: 460px) {
}
