@import '../../App.scss';

.about-container {
  // background-color: rgba($color: #000000, $alpha: 0.2);
  width: 100%;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;

  /**********[ about section ]**********/
  .about-section {
    // background-color: rgba($color: #000000, $alpha: 0.2);
    background-color: $hover-gray;
    width: 80%;
    height: 600px;
    border-radius: 14px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    .about-title {
      position: absolute;
      top: 2rem;
      left: 4rem;
      font-size: 35px;
      text-transform: uppercase;
      font-family: 'Jadyn Maria';
      font-weight: bold;
    }
  }

  .about-resume {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .resume-img {
      background: url('../../assets/imgaes/bear3.png') no-repeat;
      background-position: center;
      background-size: cover;
      width: 30%;
      height: 250px;
      border-radius: 14px;
    }
    .resume-text {
      // background-color: rgba($color: #000000, $alpha: 0.2);
      width: 60%;
      height: 80%;
      // padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        // background-color: yellow;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem;
        margin-bottom: 0.8rem;
        color: $text-black;

        p {
          // background-color: skyblue;
          font-size: 16px;
          opacity: 0.7;
          padding: 0;
        }
      }

      span {
        width: 100%;
        // background-color: skyblue;
        font-size: 16px;
        padding: 1rem;
        line-height: 2;
        color: $text-black;

        .underline-b {
          // text-decoration: underline;
          // text-decoration-color: rgba($color: $text-black, $alpha: 0.7);
          position: relative;

          &::before {
            position: absolute;
            content: '';
            bottom: -0.1rem;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $primary-gray;
            // opacity: 0.7;
          }
        }
        .background-p {
          background-color: rgba($color: $primary-gray, $alpha: 1);
          color: $text-white;
          display: inline-block;
          line-height: 1.5;
        }
      }
    }
  }

  .about-profile {
    .about-title {
      font-size: 30px;
      transform: rotate(-8deg);
      top: 1rem;
      left: -4rem;
    }
  }

  .about-skills {
  }
}

/**********[ responsive ]**********/
@media screen and (max-width: 1023px) {
  .about-container {
    // background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /**********[ about section ]**********/
    .about-section {
      width: 96%;

      .about-title {
        position: absolute;
        top: 2rem;
        left: 4rem;
        font-size: 35px;
        text-transform: uppercase;
        font-family: 'Jadyn Maria';
        font-weight: bold;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .about-container {
    .about-resume {
      flex-direction: column;

      .about-title {
        top: -1rem;
        left: 2rem;
        font-size: 25px;
      }
  
      .resume-img {
        width: 90%;
        height: 220px;
      }
      .resume-text {
        width: 100%;
        height: auto;
  
        h2 {
          font-size: 18px;
          margin-bottom: 0.4rem;
  
          p {
            font-size: 14px;
          }
        }
  
        span {
          width: 100%;
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
}
