@import '../../App.scss';

/**********[ home ]**********/
.home {
  height: auto;
  cursor: default;

  .home-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30vh;

    /**********[ intro section ]**********/
    .intro-section {
      background-color: $primary-color;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      /**********[ intro title ]**********/
      .intro-title-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .intro-title {
          color: $white-color;
          font-family: 'NewYork';
          letter-spacing: 0.3rem;
          font-size: 10vw;
          line-height: 1;
          text-transform: uppercase;
        }
      }

      /**********[ intro secondary title ]**********/
      .secondary-title-container {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .intro-secondary-title {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1vw;
          color: $white-color;
        }
      }
    }

    /**********[ all content section ]**********/
    .home-content-section {
      width: 100%;
    }

    /**********[ about & skills section ]**********/
    .has-section {
      background-color: $secondary-color;
      height: 130vh;
      display: flex;
      flex-direction: column;
      position: relative;
      // overflow: hidden;

      .background-title {
        position: absolute;
        top: 50%;
        left: -0.5rem;
        transform: translateY(-50%);
        font-size: 12vw;
        opacity: 0.4;
        color: $text-white;
      }

      .content-container {
        width: 100%;
        max-width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 1;

        .content-container {
          width: 35%;
        }

        /**********[ about ]**********/
        .content-start {
          width: 100%;
          height: 30%;
          display: flex;
          flex-direction: column;
          align-items: start;
          padding-top: 7%;

          .c-container {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            z-index: 1;

            .overview {
              width: auto;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-left: 5rem;
              gap: 3rem;
            }
          }
        }
        /**********[ skills ]**********/
        .content-end {
          width: 100%;
          height: 30%;
          padding-bottom: 7%;
          display: flex;
          align-items: flex-end;

          .c-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .skill {
              width: auto;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 3rem;
              margin-left: 5rem;
            }
          }
        }
      }
    }

    /**********[ greetings section ]**********/
    .greetings-section {
      background-color: $secondary-color-02;
      width: 100%;
      height: 666px;
      position: relative;
      overflow: hidden;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .background-title {
        position: absolute;
        top: 0;
        left: -3rem;
        font-size: 13.5vw;
        opacity: 0.2;
        white-space: nowrap;
        z-index: -1;
      }

      .content-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        // z-index: 2;

        .content-main-title {
          color: $text-white;
          line-height: 2.5rem;
        }
        .content-side-title {
          color: $text-white;
          opacity: 1;
        }
        .content-text {
          color: $text-white;
          opacity: 0.8;

          a {
            padding: 0.4rem;
          }
        }

        .main-title-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .content-text-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: 3rem;
        }
      }

      .sign {
        position: absolute;
        bottom: 3rem;
        right: 3rem;
        .sign-text {
          font-size: 1.5vw;
          color: $text-white;
        }
      }
    }

    /**********[ projects section ]**********/
    .projects-section {
      background-color: rgba($color: $secondary-color, $alpha: 0.2);
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 15vh;

      /**********[ projects item ]**********/
      .project-item {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        position: relative;

        * {
          color: $text-white;
        }

        .background-title {
          position: absolute;
          top: -12vh;
          left: 0;
          opacity: 0.2;
          font-size: 14vw;
        }

        /**********[ preview ]**********/
        .project-preview-line {
          background-color: $secondary-color-02;
          width: 35%;
          height: 100%;
          display: flex;
          justify-content: center;

          .img-container {
            background-color: $primary-color;
            width: 75%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            z-index: 1;

            .preview-img {
              width: 95%;
            }
          }
        }
        /**********[ info ]**********/
        .project-info {
          width: 65%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 5rem;

          .project-thumbnail {
            display: none;
          }

          .content-side-title {
            width: 5rem;
          }

          .project-title {
            display: flex;
            align-items: center;
            width: 50%;
          }
          .project-desc {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .desc-item {
              display: flex;
              align-items: center;
            }
          }
          .project-link {
            width: 50%;
            padding-left: 5rem;

            .content-link {
              border-color: $white-color;

              &:hover {
                color: $text-black;
                background-color: $white-color;
              }
            }
          }
        }
      }
    }

    .outro-section {
      background-color: $secondary-color-02;
      width: 100%;
      height: 45vh;
      margin-bottom: 15vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      position: relative;
      overflow: hidden;

      .sign-text {
        font-size: 1.5vw;
        color: $text-white;
      }
      .background-title {
        font-size: 16vw;
        opacity: 0.2;
        position: absolute;
        bottom: -1rem;
      }
      .content-text {
        color: $text-white;
        opacity: 0.8;

        a {
          padding: 0.4rem;
        }
      }
      .content-link {
        border-color: $white-color;
        color: $text-white;
        z-index: 1;

        &:hover {
          color: $text-black;
          background-color: $white-color;
        }
      }
    }
  }

  /**********[ page footer title ]**********/
  .page-footer-title {
    .pf-title {
      color: $white-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  /**********[ home ]**********/
  .home {
    .home-section-container {
      /**********[ intro section ]**********/
      .intro-section {
        background-color: $primary-color;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        /**********[ intro title ]**********/
        .intro-title-container {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .intro-title {
            color: $white-color;
            font-family: 'NewYork';
            letter-spacing: 0.3rem;
            font-size: 10vw;
            line-height: 1;
            text-transform: uppercase;
          }
        }

        /**********[ intro secondary title ]**********/
        .secondary-title-container {
          width: 45%;
          display: flex;
          align-items: center;
          justify-content: space-around;

          .intro-secondary-title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1vw;
            color: $white-color;
          }
        }
      }

      /**********[ all content section ]**********/
      .home-content-section {
        /**********[ font styles ]**********/
        .content-main-title {
          font-size: $font-size-xxl;
        }
        .content-text {
          // font-size: $font-size-sm;
        }
      }
      /**********[ about & skills section ]**********/
      .has-section {
        height: auto;
        padding-top: 15vh;
        padding-bottom: 15vh;

        .background-title {
          font-size: 14vw;
          top: 45%;
        }

        .content-container {
          max-width: 90%;
          gap: 15vh;

          .content-content-container {
            width: 100%;
          }

          .content-end {
          }
        }
      }

      /**********[ greetings section ]**********/
      .greetings-section {
        height: auto;
        padding-top: 5vh;
        padding-bottom: 5vh;

        .background-title {
          left: -2rem;
          // font-size: 13.5vw;
        }

        .content-container {
          width: 65%;
          gap: 2.5rem;
        }

        .sign {
          bottom: 2rem;
          right: 2rem;

          .sign-text {
            font-size: 2vw;
          }
        }
      }

      /**********[ projects section ]**********/
      .projects-section {
        /**********[ projects item ]**********/
        .project-item {
          .background-title {
            top: -55px;
            font-size: 13vw;
          }

          /**********[ preview ]**********/
          .project-preview-line {
            width: 30%;
          }
          /**********[ info ]**********/
          .project-info {
            width: 70%;
            align-items: flex-start;
            padding-left: 5rem;
            padding-left: 10%;
            gap: 4rem;

            .content-side-title {
              // width: 5rem;
            }

            .project-title {
              width: 50%;
              width: auto;
            }
            .project-desc {
              width: auto;
              gap: 0.5rem;
            }
            .project-link {
              width: auto;
              padding-left: 5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  /**********[ home ]**********/
  .home {
    .home-section-container {
      /**********[ intro section ]**********/
      .intro-section {
        /**********[ intro title ]**********/
        .intro-title-container {
          .intro-title {
            font-size: 14vw;
          }
        }

        /**********[ intro secondary title ]**********/
        .secondary-title-container {
          .intro-secondary-title {
            font-size: 2vw;
          }
        }
      }

      /**********[ all content section ]**********/
      .home-content-section {
        /**********[ font styles ]**********/
        .content-main-title {
          font-size: $font-size-xl;
        }
        .content-side-title {
          font-size: $font-size-xxs;
        }
        .content-text {
          // font-size: $font-size-sm;
        }
        .content-link {
          padding: 0.6rem 1rem;
          font-size: $font-size-xxs;
        }
      }
      /**********[ about & skills section ]**********/
      .has-section {
        overflow-x: hidden;

        .background-title {
          font-size: 18vw;
          top: -3rem;
          right: 0;
          transform: translateY(0);
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }

        .content-container {
          gap: 0;
          .c-container {
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .content-text-wrapper {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .overview,
            .skill {
              align-items: center !important;
              margin-left: 0 !important;
            }
          }

          /**********[ about ]**********/
          .content-start {
            padding-top: 10vh;
            padding-bottom: 10vh;
          }
          /**********[ skills ]**********/
          .content-end {
            padding-top: 10vh;
            padding-bottom: 10vh;
          }
        }
      }

      /**********[ greetings section ]**********/
      .greetings-section {
        height: auto;
        padding-top: 20vh;
        padding-bottom: 20vh;

        .background-title {
          left: 0;
          font-size: 24vw;
          writing-mode: vertical-rl;
          text-orientation: mixed;
        }

        .content-container {
          width: auto;
          gap: 2.5rem;

          .content-main-title {
            font-size: 6vw;
            line-height: 3.4rem;
          }

          .content-text-wrapper {
            width: 50%;
          }
        }

        .sign {
          bottom: 2rem;
          right: 2rem;

          .sign-text {
            font-size: 4vw;
          }
        }
      }

      /**********[ projects section ]**********/
      .projects-section {
        background-color: transparent;
        padding-top: 15vh;
        padding-bottom: 15vh;

        /**********[ projects item ]**********/
        .project-item {
          justify-content: center;
          overflow: hidden;

          /**********[ background title ]**********/
          .background-title {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18vw;
            white-space: nowrap;
          }
          /**********[ preview ]**********/
          .project-preview-line {
            display: none;
          }
          /**********[ info ]**********/
          .project-info {
            background-color: rgba($color: $secondary-color-02, $alpha: 0.3);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border-radius: 14px;
            border: 0.02rem solid $secondary-color-02;
            width: 50%;
            padding: 1.5rem 1rem;
            align-items: center;
            gap: 2.5rem;

            .project-thumbnail {
              display: block;

              .thumbnail-img {
                width: 100%;
                border: 0.02rem solid $secondary-color-02;
                border-radius: 14px;
              }
            }
            .content-side-title {
              display: none;
            }
            .project-title {
              width: auto;
            }
            .project-desc {
              align-items: center;
              .desc-item {
                .content-text {
                  line-height: 1.5rem;
                  font-size: $font-size-xs;

                  b {
                    font-weight: normal;
                  }
                }
              }
            }
            .project-link {
              width: auto;
              padding-left: 0;
              padding-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  /**********[ home ]**********/
  .home {
    .home-section-container {
      gap: 15vh;
      /**********[ intro section ]**********/
      .intro-section {
        gap: 1rem;

        /**********[ intro title ]**********/
        .intro-title-container {
          .intro-title {
            font-size: 17vw;
          }
        }

        /**********[ intro secondary title ]**********/
        .secondary-title-container {
          width: 60%;
          .intro-secondary-title {
            font-size: 2.8vw;
          }
        }
      }
      /**********[ about & skills section ]**********/
      .has-section {
        .background-title {
          font-size: 24vw;
        }
      }
      /**********[ greetings section ]**********/
      .greetings-section {
        .content-text {
          white-space: pre-line;
          word-break: break-all;
        }
        .content-container {
          .content-main-title {
            line-height: 2.4rem;
            font-size: $font-size-xl;
          }
          .content-text-wrapper {
            width: 80%;
          }
        }
        .sign {
          bottom: 4rem;
          right: 2rem;

          .sign-text {
            font-size: 4.5vw;
          }
        }
      }

      /**********[ projects section ]**********/
      .projects-section {
        /**********[ projects item ]**********/
        .project-item {
          /**********[ background title ]**********/
          .background-title {
            font-size: 30vw;
          }
          /**********[ info ]**********/
          .project-info {
            width: 90%;
            padding-top: 7%;
            padding-bottom: 15%;
            gap: 3rem;
          }
        }
      }
    }
  }
}
