@import '../../App.scss';

.home-container {
  width: 100%;
  margin: 6rem 0;
  position: relative;

  /**********[ home section wrapper ]**********/
  .home-section-wrapper {
    background-color: $hover-gray;
    -webkit-backdrop-filter: blur(135px);
    backdrop-filter: blur(135px);
    border-radius: 14px;
    width: 80%;
    height: 1900px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /**********[ home title ]**********/
    .home-title {
      position: absolute;
      top: -3.5rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 35px;
      font-family: 'Jadyn Maria';
    }

    /**********[ all section ]**********/
    .home-section {
      background-color: $hover-gray;
      -webkit-backdrop-filter: blur(135px);
      backdrop-filter: blur(135px);
      border-radius: 14px;
      width: 100%;
      height: 600px;
      display: flex;
      justify-content: center;
    }

    /**********[ section 1 ]**********/
    .home-section1 {
      /**********[ start ]**********/
      .section-start {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /**********[ section hover ]**********/
        &:hover {
          .text-start {
            .intro-title {
              color: $text-white;

              &::before {
                width: 100%;
                opacity: 1;
              }
            }

            span {
              p {
                color: $text-white;
                &::before {
                  width: 100%;
                  opacity: 1;
                }
              }
            }
          }

          .link:hover {
            background-color: darken($hover-gray, 20%);
          }
        }

        /**********[ text start ]**********/
        .text-start {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          transition: all 0.6s;

          .intro-title {
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 1rem;
            color: $text-black;
            position: relative;
            transition: all 0.35s linear;
            padding: 0 0.8rem;

            &::before {
              content: '';
              background-color: $primary-gray;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 100%;
              width: 0;
              height: 10px;
              height: 100%;
              opacity: 0;
              transition: all 0.35s linear;
              z-index: -1;
            }
          }

          span {
            color: $text-black;
            line-height: 2;

            p {
              padding: 0 0.2rem;
              border-radius: 14px;
              display: inline-block;
              transition: all 0.35s;
              line-height: 1.5;
              position: relative;
              transition: all 0.35s linear;

              &::before {
                content: '';
                background-color: $primary-gray;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;
                width: 0;
                height: 10px;
                height: 100%;
                opacity: 0;
                transition: all 0.35s linear;
                z-index: -1;
              }
            }
          }
        }

        /**********[ link ]**********/
        .link {
          background-color: $hover-gray;
          -webkit-backdrop-filter: blur(135px);
          backdrop-filter: blur(135px);
          width: 280px;
          height: 180px;
          height: auto;
          border-radius: 14px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          transition: all 0.35s;

          a {
            background-color: darken($hover-gray, 20%);
            padding: 0.2rem 0.4rem;
            margin: 0.4rem;
            border-radius: 14px;
            font-size: 16px;
            text-transform: uppercase;
            color: $text-black;

            &:hover {
              font-size: 0;
              background-color: transparent;
            }
          }

          .about-link {
            &:hover::before {
              content: '# about 바로가기';
              background-color: $primary-gray;
              color: $text-white;
              font-size: 16px;
              padding: 0.2rem 0.4rem;
              border-radius: 14px;
            }
          }

          // .resume-link {
          //   &:hover::before {
          //     content: '# resume 다운받기';
          //     background-color: $primary-gray;
          //     color: $text-white;
          //     font-size: 16px;
          //     padding: 0.2rem 0.4rem;
          //     border-radius: 14px;
          //   }
          // }
        }
      }
    }

    /**********[ section 2 ]**********/
    .home-section2 {
      /**********[ end ]**********/
      .section-end {
        width: 45%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /**********[ section hover ]**********/
        &:hover {
          .text-end {
            .intro-title {
              color: $text-white;

              &::before {
                width: 100%;
                opacity: 1;
              }
            }

            span {
              p {
                color: $text-white;
                &::before {
                  width: 100%;
                  opacity: 1;
                }
              }
            }
          }

          .link:hover {
            background-color: darken($hover-gray, 20%);
          }
        }

        /**********[ text end ]**********/
        .text-end {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          transition: all 0.6s;

          .intro-title {
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 1rem;
            color: $text-black;
            position: relative;
            transition: all 0.35s linear;
            padding: 0 0.8rem;

            &::before {
              content: '';
              background-color: $primary-gray;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 100%;
              width: 0;
              height: 10px;
              height: 100%;
              opacity: 0;
              transition: all 0.35s linear;
              z-index: -1;
            }
          }

          span {
            color: $text-black;
            line-height: 2;

            p {
              padding: 0 0.2rem;
              border-radius: 14px;
              display: inline-block;
              transition: all 0.35s;
              line-height: 1.5;
              position: relative;
              transition: all 0.35s linear;

              &::before {
                content: '';
                background-color: $primary-gray;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;
                width: 0;
                height: 10px;
                height: 100%;
                opacity: 0;
                transition: all 0.35s linear;
                z-index: -1;
              }
            }
          }
        }

        /**********[ link ]**********/
        .link {
          background-color: $hover-gray;
          -webkit-backdrop-filter: blur(135px);
          backdrop-filter: blur(135px);
          width: 280px;
          height: 180px;
          height: auto;
          border-radius: 14px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 1rem;
          transition: all 0.35s;

          a {
            background-color: darken($hover-gray, 20%);
            padding: 0.2rem 0.4rem;
            margin: 0.4rem;
            border-radius: 14px;
            font-size: 16px;
            text-transform: uppercase;

            &:hover {
              font-size: 0;
              background-color: transparent;
            }
          }

          .projects-link {
            &:hover::before {
              content: '# projects 바로가기';
              background-color: $primary-gray;
              color: $text-white;
              font-size: 16px;
              padding: 0.2rem 0.4rem;
              border-radius: 14px;
            }
          }

          .github-link {
            &:hover::before {
              content: '# github source code';
              background-color: $primary-gray;
              color: $text-white;
              font-size: 16px;
              padding: 0.2rem 0.4rem;
              border-radius: 14px;
            }
          }
        }
      }
    }

    /**********[ section 3 ]**********/
    .home-section3 {
      /**********[ end ]**********/
      .section-end {
        width: 45%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /**********[ section hover ]**********/
        &:hover {
          .text-end {
            .intro-title {
              color: $text-white;

              &::before {
                width: 100%;
                opacity: 1;
              }
            }

            span {
              p {
                color: $text-white;
                &::before {
                  width: 100%;
                  opacity: 1;
                }
              }
            }
          }

          .link:hover {
            background-color: darken($hover-gray, 20%);
          }
        }

        /**********[ text end ]**********/
        .text-end {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          transition: all 0.6s;

          .intro-title {
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 1rem;
            color: $text-black;
            position: relative;
            transition: all 0.35s linear;
            padding: 0 0.8rem;

            &::before {
              content: '';
              background-color: $primary-gray;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              width: 100%;
              width: 0;
              height: 10px;
              height: 100%;
              opacity: 0;
              transition: all 0.35s linear;
              z-index: -1;
            }
          }

          span {
            color: $text-black;
            line-height: 2;

            p {
              padding: 0 0.2rem;
              border-radius: 14px;
              display: inline-block;
              line-height: 1.5;
              position: relative;
              transition: all 0.35s linear;

              &::before {
                content: '';
                background-color: $primary-gray;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;
                width: 0;
                height: 10px;
                height: 100%;
                opacity: 0;
                transition: all 0.35s linear;
                z-index: -1;
              }
            }
          }
        }

        /**********[ link ]**********/
        .link {
          background-color: $hover-gray;
          -webkit-backdrop-filter: blur(135px);
          backdrop-filter: blur(135px);
          width: 280px;
          height: 180px;
          height: auto;
          border-radius: 14px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          padding: 1rem;
          transition: all 0.35s;

          a {
            background-color: darken($hover-gray, 20%);

            padding: 0.2rem 0.4rem;
            margin: 0.4rem;
            border-radius: 14px;
            font-size: 16px;
            text-transform: uppercase;

            &:hover {
              font-size: 0;
              background-color: transparent;
            }
          }

          .contact-link {
            &:hover::before {
              content: '# contact 바로가기';
              background-color: $primary-gray;
              color: $text-white;
              font-size: 16px;
              padding: 0.2rem 0.4rem;
              border-radius: 14px;
            }
          }

          .github-link {
            &:hover::before {
              content: '# github source code';
              background-color: $primary-gray;
              color: $text-white;
              font-size: 16px;
              padding: 0.2rem 0.4rem;
              border-radius: 14px;
            }
          }

          .blog-link {
            &:hover::before {
              content: '# blog 바로가기';
              background-color: $primary-gray;
              color: $text-white;
              font-size: 16px;
              padding: 0.2rem 0.4rem;
              border-radius: 14px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .home-container {
    /**********[ home section wrapper ]**********/
    .home-section-wrapper {
      width: 96%;

      /**********[ home title ]**********/
      .home-title {
        font-size: 30px;
      }

      /**********[ section 1 ]**********/
      .home-section1 {
        /**********[ start ]**********/
        .section-start {
          /**********[ text start ]**********/
          .text-start {
            .intro-title {
              font-size: 22px;
              color: $text-white;

              &::before {
                width: 100%;
                opacity: 1;
              }
            }

            span {
              font-size: 14px;

              p {
                color: $text-white;

                &::before {
                  content: '';
                  width: 100%;
                  opacity: 1;
                }
              }
            }
          }

          /**********[ link ]**********/
          .link {
            a {
              font-size: 14px;
              &:hover::before {
                font-size: 14px;
              }
            }
          }
        }
      }

      /**********[ section 2 ]**********/
      .home-section2 {
        /**********[ end ]**********/
        .section-end {
          width: 45%;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          /**********[ text end ]**********/
          .text-end {
            .intro-title {
              font-size: 22px;
              color: $text-white;

              &::before {
                width: 100%;
                opacity: 1;
              }
            }

            span {
              font-size: 14px;

              p {
                color: $text-white;

                &::before {
                  content: '';
                  width: 100%;
                  opacity: 1;
                }
              }
            }
          }

          /**********[ link ]**********/
          .link {
            a {
              font-size: 14px;
            }

            .projects-link {
              &:hover::before {
                font-size: 14px;
              }
            }

            .github-link {
              &:hover::before {
                font-size: 14px;
              }
            }
          }
        }
      }

      /**********[ section 3 ]**********/
      .home-section3 {
        /**********[ end ]**********/
        .section-end {
          width: 45%;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          /**********[ text end ]**********/
          .text-end {
            .intro-title {
              font-size: 22px;
              color: $text-white;

              &::before {
                width: 100%;
                opacity: 1;
              }
            }

            span {
              font-size: 14px;

              p {
                color: $text-white;

                &::before {
                  content: '';
                  width: 100%;
                  opacity: 1;
                }
              }
            }
          }

          /**********[ link ]**********/
          .link {
            a {
              font-size: 14px;
            }

            .contact-link {
              &:hover::before {
                font-size: 14px;
              }
            }

            .github-link {
              &:hover::before {
                font-size: 14px;
              }
            }

            .blog-link {
              &:hover::before {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .home-container {
    /**********[ home section wrapper ]**********/
    .home-section-wrapper {
      width: 96%;
      height: 1300px;

      /**********[ home title ]**********/
      .home-title {
      }

      /**********[ all section ]**********/
      .home-section {
        height: 400px;
      }

      /**********[ section 1 ]**********/
      .home-section1 {
        /**********[ start ]**********/
        .section-start {
          /**********[ text start ]**********/
          .text-start {
            .intro-title {
              font-size: 16px;
            }
          }

          .link {
            // background-color: hotpink;
            width: 90%;
          }
        }
      }

      /**********[ section 2 ]**********/
      .home-section2 {
        /**********[ end ]**********/
        .section-end {
          // padding: 1rem;
          /**********[ text end ]**********/
          .text-end {
            .intro-title {
              font-size: 16px;
            }

            span {
              font-size: 14px;
            }
          }

          .link {
            width: 90%;
          }
        }
      }

      /**********[ section 3 ]**********/
      .home-section3 {
        /**********[ end ]**********/
        .section-end {
          // padding: 1rem;
          /**********[ text end ]**********/
          .text-end {
            .intro-title {
              font-size: 16px;
            }

            span {
              font-size: 14px;
            }
          }

          .link {
            width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
}
