@import '../../App.scss';

/**********[ home ]**********/
.home {
  background-color: $light-brown;
  height: auto;
  cursor: default;

  .home-section-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;

    /**********[ intro section ]**********/
    .intro-section {
      width: 100%;
      height: calc(100vh - 100px);
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      /**********[ intro title ]**********/
      .intro-title-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .intro-title {
          color: $text-white;
          font-family: 'NewYork';
          letter-spacing: 0.7rem;
          font-size: 10vw;
          line-height: 1;
          text-transform: uppercase;
        }
      }

      /**********[ intro secondary title ]**********/
      .secondary-title-container {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .intro-secondary-title {
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1vw;
          color: $text-white;
        }
      }
    }

    /**********[ all content section ]**********/
    .home-content-section {
      width: 100%;

      /**********[ font styles ]**********/
      .content-title {
        font-family: 'NewYork';
        letter-spacing: 0.7rem;
        text-transform: uppercase;
        font-size: 7vw;
        transition: all 0.35s;

        &:hover {
          font-style: italic;
          margin-left: 0.5rem;
        }
      }
      .content-secondary-title {
        font-size: $font-size-base;
        font-weight: 500;
        line-height: 1.8rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
      .content-text {
        font-size: $font-size-xs;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
        opacity: 0.8;

        b {
          opacity: 0.4;
        }
      }
      .arrow-text {
        font-size: 18px;
        opacity: 0;
        transition: all 0.35s;
      }
    }

    /**********[ about & skills section ]**********/
    .has-section {
      background-color: $light-beige;
      height: 85vh;
      display: flex;
      flex-direction: column;
      margin-bottom: 35vh;

      .content-container {
        width: 100%;
        max-width: 65%;
        height: 100%;
        margin: 0 auto;

        /**********[ font color ]**********/
        .content-title {
          color: $light-brown;
        }
        .content-secondary-title {
          color: $brown;
        }
        .content-text {
          color: $brown;
        }
        .arrow-text {
          color: $light-brown;
        }

        .content-title-container {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:hover {
            .arrow-text {
              opacity: 0.8;
            }
          }
        }
        .content-content-container {
          padding: 1rem 0;
          width: 35%;
        }

        /**********[ about ]**********/
        .content-start {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          padding-top: 7%;
        }
        /**********[ skills ]**********/
        .content-end {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-end;
          padding-bottom: 7%;

          .content-title-container {
            flex-direction: row-reverse;

            .content-title:hover {
              margin-left: 0;
              margin-right: 0.5rem;
            }

            .arrow-text {
              transform: rotate(180deg);
            }
          }

          .content-content-container {
            text-align: right;
          }
        }
      }
    }

    /**********[ projects section ]**********/
    .projects-section {
      background-color: $dark-beige;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: auto;
      padding-top: 5%;
      padding-bottom: 5%;
      width: 80%;

      .content-title {
        position: absolute;
        top: -5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        text-align: center;
        color: $white;
      }

      .projects-container {
        background-color: $light-beige;
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30vh;
        padding-bottom: 30vh;

        .project-item {
          width: 100%;
          height: 240px;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          position: relative;

          &::before {
            content: 'eh portfolio';
            background-color: rgba(
              $color: darken($light-beige, 7%),
              $alpha: 0.9
            );
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            color: $brown;
            font-size: $font-size-sm;
            letter-spacing: 0.7rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-weight: 500;
            z-index: 1;
            transition: all 0.35s;
            opacity: 0;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.05rem;
            background-color: rgba($color: $dark-beige, $alpha: 0.4);
          }

          &:hover {
            &::before {
              opacity: 1;
            }
          }

          .project-content-container {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .project-title {
              color: $dark-beige;
              font-family: 'NewYork';
              letter-spacing: 0.7rem;
              font-size: 4vw;
              line-height: 1;
              text-transform: uppercase;
              margin-bottom: 1.5rem;
            }
            .desc-text {
              font-size: $font-size-sm;
              font-weight: 500;
              line-height: 1.8rem;
              letter-spacing: 0.05rem;
              text-transform: uppercase;
              color: $brown;
            }
            .secondary-desc-text {
              font-size: $font-size-xs;
              font-weight: 300;
              line-height: 1.5rem;
              letter-spacing: 0.05rem;
              text-transform: uppercase;
              opacity: 0.8;
              color: $brown;
            }
          }
          .project-image-wrapper {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;

            .project-image {
              // width: 100%;
              height: 100%;
            }
          }
        }

        .right-item {
          justify-content: flex-start;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  /**********[ home ]**********/
  .home {
    .home-section-container {
      gap: 15vh;
      gap: 0;

      /**********[ intro section ]**********/
      .intro-section {
        // height: 85vh;

        /**********[ intro title ]**********/
        .intro-title-container {
          .intro-title {
            font-size: 11vw;
          }
        }

        /**********[ intro secondary title ]**********/
        .secondary-title-container {
          .intro-secondary-title {
            font-size: 1.5vw;
          }
        }
      }

      /**********[ all content section ]**********/
      .home-content-section {
        /**********[ font styles ]**********/
        .content-title {
          font-size: 8vw;
        }
        .content-secondary-title {
          // font-size: $font-size-base;
        }
        .content-text {
          // font-size: $font-size-xs;
        }
        .arrow-text {
          // font-size: 18px;
        }
      }

      /**********[ about & skills section ]**********/
      .has-section {
        height: auto;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;

        .content-container {
          max-width: 90%;
          .content-title-container {
            width: 50%;
          }
          .content-content-container {
            width: 50%;
          }

          /**********[ about ]**********/
          .content-start {
            // padding-top: 7%;
          }
          /**********[ skills ]**********/
          .content-end {
            // padding-bottom: 7%;
          }
        }
      }

      /**********[ projects section ]**********/
      .projects-section {
        height: auto;
        // margin-bottom: 15vh;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 90%;

        .content-title {
          top: -4%;
        }

        .projects-container {
          padding-top: 10%;
          padding-bottom: 10%;
          align-items: center;
          gap: 15vh;

          .project-item {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-around;
            height: 500px;

            &::after {
              display: none;
            }

            .project-content-container {
              width: 100%;
              height: auto;

              .project-title {
                font-size: 5vw;
              }
              .desc-text {
                margin-bottom: 0;
              }
            }
            .project-image-wrapper {
              height: 50%;
            }
          }

          .right-item {
            margin-left: 0;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  /**********[ home ]**********/
  .home {
    .home-section-container {
      /**********[ about & skills section ]**********/
      .has-section {
        height: auto;
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;

        .content-container {
          max-width: 90%;
          display: flex;
          flex-direction: column;
          gap: 15vh;

          .content-title-container {
            width: 50%;
          }
          .content-content-container {
            width: 50%;
          }
        }
      }

      /**********[ projects section ]**********/
      .projects-section {
        width: 100%;
        padding-top: 60px;

        .content-title {
          top: -4%;
        }

        .projects-container {
          padding-top: 17%;
          padding-bottom: 17%;
          align-items: center;
          gap: 15vh;

          .project-item {
            width: 90%;
            height: auto;
            gap: 3rem;

            .project-image-wrapper {
              width: 90%;
              height: auto;

              .project-image {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  /**********[ home ]**********/
  .home {
    .home-section-container {
      /**********[ intro section ]**********/
      .intro-section {
        /**********[ intro title ]**********/
        .intro-title-container {
          .intro-title {
            font-size: 14vw;
            letter-spacing: 0.4rem;
          }
        }
        .secondary-title-container {
          width: 70%;

          .intro-secondary-title {
            font-size: 2.5vw;
          }
        }
      }

      /**********[ all content section ]**********/
      .home-content-section {
        /**********[ font styles ]**********/
        .content-title {
          letter-spacing: 0.2rem;
          font-size: 10vw;
        }
        .content-secondary-title {
          font-size: $font-size-base;
          font-weight: 500;
          line-height: 1.8rem;
          letter-spacing: 0.05rem;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }
        .content-text {
          font-size: $font-size-xs;
          font-weight: 500;
          line-height: 1.5rem;
          letter-spacing: 0.05rem;
          text-transform: uppercase;
          opacity: 0.8;

          b {
            opacity: 0.4;
          }
        }
        .arrow-text {
          font-size: 14px;
        }
      }

      /**********[ about & skills section ]**********/
      .has-section {
        .content-container {
          .content-title-container {
            width: 65%;
          }
          .content-content-container {
            width: 100%;
          }
        }
      }

      /**********[ projects section ]**********/
      .projects-section {
        .content-title {
          top: -3.5%;
        }

        .projects-container {
          .project-item {
            &::before {
              display: none;
            }
            .project-image-wrapper {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
