@charset "UTF-8";

/**********[ fonts ]**********/
// 로고 폰트
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
// font-family: 'Petit Formal Script';

// 반듯한 고딕체
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

// 필기체 폰트
@font-face {
  font-family: 'Jadyn Maria';
  src: url('./assets/fonts/Jadyn\ Maria.ttf');
}

/**********[ colors ]**********/

// main color & primary color
$main-white: #f0f0f0;
$primary-gray: #242424;

// hover color
$hover-gray: rgba(
  $color: #bebebe,
  $alpha: 0.24,
);
$hover-blue: rgba(
  $color: #126ded,
  $alpha: 0.24,
);
$hover-white: rgba(
  $color: #f0f0f0,
  $alpha: 0.24,
);

// text color
$text-black: #272727;
$text-white: #fbfaff;

/**********[ initialization ]**********/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: auto;
  background-color: $main-white;
  font-family: 'Pretendard-Regular';

  &::-webkit-scrollbar {
    width: 6px; /*스크롤바의 너비*/
  }
  &::-webkit-scrollbar-thumb {
    // background-color: darken($hover2-purple, 5%); /*스크롤바의 색상*/
    background-color: $primary-gray;
  }
  &::-webkit-scrollbar-track {
    background-color: $main-white; /*스크롤바 트랙 색상*/
  }
}

button {
  background-color: none;
  border: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
