@charset "UTF-8";
@import './styles/variable';
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@font-face {
  font-family: 'NewYork';
  src: url('./assets/fonts/NewYork.otf') format('truetype');
}
@font-face {
  font-family: 'daniel';
  src: url('./assets/fonts/daniel.ttf') format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  background-color: $primary-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;

  &::-webkit-scrollbar {
    width: 0.8rem; /*스크롤바의 너비*/
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: $white, $alpha: 0.4);
    background-clip: padding-box;
    border: 0.2rem solid transparent;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-track {
    margin: 0.3rem;
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Petit Formal Script';
  font-size: $font-size-xl;
  color: $text-white;
  font-weight: 600;
}
.content-main-title {
  color: $text-black;
  font-size: $font-size-xxxl;
  font-weight: 500;
  line-height: 1.81em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.content-secondary-title {
  color: $text-black;
  font-size: $font-size-lg;
  font-weight: 500;
  line-height: 1.81em;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.content-side-title {
  text-transform: uppercase;
  font-size: $font-size-xs;
  color: $text-black;
}
.content-text {
  color: $text-black;
  font-size: $font-size-sm;
  line-height: 1.81em;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  b {
    opacity: 0.4;
    font-weight: 300;
  }
}
.content-link {
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  font-size: $font-size-xs;
  font-weight: 500;
  letter-spacing: 0.2rem;
  color: rgba($color: $text-black, $alpha: 0.7);
  border: 0.05rem solid $black-color;
  transition: all 0.35s;

  &:hover {
    background-color: $black-color;
    color: $text-white;
  }
}
.sign-text {
  font-family: 'daniel';
  font-size: 1.5vw;
  color: $text-white;
}
.background-title {
  color: $text-white;
  font-family: 'NewYork';
  text-transform: uppercase;
  font-size: 150px;
  transition: all 0.35s;
  line-height: 0.7;
}
.page-footer-title {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .pf-title {
    text-transform: uppercase;
    color: $text-white;
    font-weight: 500;
    font-size: $font-size-xs;
  }
}

/**********[ animation ]**********/
@keyframes fadeInUp {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    transform: translateY(100%);
    opacity: 0;
  }
  95% {
    transform: translateY(0%);
  }
  100% {
    clip-path: polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
  }
}
