@charset "UTF-8";

/**********[ fonts ]**********/
// 로고 폰트
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
// font-family: 'Petit Formal Script';

// 반듯한 고딕체
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

// 명조 폰트
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
// font-family: 'Iropke Batang', serif;

// 필기체 폰트
@font-face {
  font-family: 'SSVeryBadHandwriting';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/SSVeryBadHandwriting.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Humanbumsuk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  // Jadyn Maria
  font-family: 'Jadyn Maria';
  src: url('./assets/fonts/Jadyn\ Maria.ttf');
}

/**********[ colors ]**********/

// background color & main color
$background-color: #f7f7f2;
$main-white: #f0f0f0;
$main-purple: #d3c6ef;

// hover color & primary color
$hover-color: rgba(18, 18, 18, 0.06);
$hover-gray: rgba(
  $color: #bebebe,
  $alpha: 0.24,
);
$hover-blue: rgba(
  $color: #126ded,
  $alpha: 0.24,
);
$hover-white: rgba(
  $color: #f0f0f0,
  $alpha: 0.24,
);
$hover-purple: #f0e9ff;
$hover2-purple: #bfb0de;
$primary-blue: #126ded;
$primary-gray: #242424;

// text color
$text-color: #121212;
$text-black: #272727;
$text-white: #fbfaff;

/**********[ initialization ]**********/
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: auto;
  background-color: $main-white;
  // font-family: 'GmarketSansMedium';
  font-family: 'Pretendard-Regular';
}


button {
  background-color: none;
  border: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
