@import '../../styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=DM+Serif+Display&family=Libre+Barcode+39&family=Marcellus&display=swap');

@font-face {
  font-family: 'Troye';
  src: url('../../asstes/fonts/Troye\ Serif\ Free.ttf');
}

.navbar {
  background-color: rgba($color: $back-l-3, $alpha: .5);
  backdrop-filter: blur(14px);
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $text-l-2;
  position: fixed;
  top: 0;
  left: 0;

  .navbar-container {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-items {
      display: block;
      margin: 1rem;
      font-size: 14px;
      color: $text-l-1;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      font-family: 'Quattrocento Sans', sans-serif;

      span {
        position: relative;
      }

      span::before {
        content: '';
        background-color: $text-l-2;
        // opacity: 0.5;
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        transition: transform 0.4s;
        transform: scaleX(0);
      }
      &:hover span::before {
        transform: scaleX(1);
      }
    }

    .navbar-logo {
      .menu-logo {
        display: block;
        font-size: 35px;
        color: $text-l-1;

        .logo-1 {
          font-family: 'Troye';
          // font-family: 'Quattrocento Sans', sans-serif;
          letter-spacing: -4px;
        }
      }
    }

    .navbar-menu-1 {
      display: flex;
    }
    .navbar-menu-2 {
      display: flex;
    }

    .navbar-menu-icon {
      display: none;
    }
    .navbar-hidden-menu {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    border: none;
    

    .navbar-container {
      .menu-items {
      }

      .navbar-logo {
        .menu-logo {
          .logo-1 {
            font-size: 28px;
          }
        }
      }

      .navbar-menu-1 {
        display: none;
      }
      .navbar-menu-2 {
        display: none;
      }

      .navbar-menu-icon {
        display: block;
        // background-color: red;
        width: 25px;
        height: 30px;
        position: relative;
        cursor: pointer;

        &.on {
          span {
            pointer-events: none;
          }

          span:not(:hover):before {
            top: 0;
            rotate: -45deg;
          }
          span:not(:hover)::after {
            top: 0;
            rotate: 45deg;
          }
        }

        &:hover {
          span:before {
            top: 4px;
          }
          span::after {
            top: -4px;
          }
        }

        span {
          background-color: transparent;
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          transform: translateY(-50%);
          transition: all 0.35s;

          &::before,
          &::after {
            content: '';
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            transition: all 0.35s;
          }

          &::before {
            top: 2.5px;
          }
          &::after {
            top: -2.5px;
          }
        }
      }

      .navbar-hidden-menu {
        background-color: $back-l-3;
        // background-color: black;
        display: block;
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: calc(100vh - 80px);
        transition: all .35s;

        display: flex;
        align-items: center;
        justify-content: center;
        
        &.open {
          top: 80px;
        }

        .hidden-menu-1 {
          // background-color: blue;
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 1rem;
          

          li {
            // background-color: green;
            width: 100%;
            display: flex;
            align-items: center;
            opacity: 0.4;
            transition: all .35s;
            cursor: pointer;
            
            &:hover {
              opacity: 1;

              a {
                padding-left: 1rem;
                transition: all .35s;
              }
            }

            p {
              // background-color: yellow;
              font-size: 14px;
              margin-right: 1rem;
              padding: 1rem;
            }

            a {
              // background-color: red;
              font-size: 4.5em;
              letter-spacing: 0;
            }
          }
        }
      }
    }
  }
}
