@import '../../styles/variable';

.projects {
  background-color: $main-white;
  cursor: default;

  /**********[ projects navigator ]**********/
  .projects-navigator {
    background-color: transparent;
    position: -webkit-sticky;
    position: sticky;
    top: 35vh;
    transform: translateY(-50%);
    left: 5%;
    width: 10%;
    height: 200px;
    z-index: 9999;

    .project-menus {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      width: 100%;
      height: 100%;

      .underline-link-small {
        &:hover {
          color: $text-black !important;
        }
      }
    }
  }

  /**********[ projects list container ]**********/
  .projects-list-container {
    background-color: $main-gray;
    width: 100%;
    height: auto;
    margin-top: -200px;

    /**********[ all projects ]**********/
    .project-link {
      width: 100%;
      height: 100vh;

      .content-container {
        width: 70%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        position: relative;

        // project title
        .title-link-position {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .title {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 8vw;
          font-weight: 600;
          z-index: 999;
          color: $text-white !important;
        }
        .preview-img {
          filter: brightness(65%);
          width: 100%;
          position: relative;
          overflow: hidden;
          -moz-animation: fadeInUp 0.7s ease-in-out; /* Firefox */
          -webkit-animation: fadeInUp 0.7s ease-in-out; /* Safari and Chrome */
          -o-animation: fadeInUp 0.7s ease-in-out; /* Opera */
          animation: fadeInUp 0.7s ease-in-out;
        }
      }
    }

    /**********[ project 1 ]**********/
    .project-link-1 {
      .content-container {
        align-items: center;

        .left-img-wrapper {
          width: 50%;
          height: 70%;
          display: flex;
          align-items: flex-start;
        }
        .right-img-wrapper {
          width: 50%;
          height: 70%;
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .projects {
    .projects-navigator {
      display: none;
    }
    .projects-list-container {
      margin-top: 0;

      .project-link {
        height: auto;

        .content-container {
          width: 80%;
          height: 600px;

          .title {
            font-size: 10vw;
          }
        }
      }

      /**********[ project 1 ]**********/
      .project-link-1 {
        .content-container {
          .left-img-wrapper {
            height: 400px;
          }
          .right-img-wrapper {
            height: 400px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .projects {
    .projects-list-container {
      .project-link {
        .content-container {
          width: 90%;

          .title {
            font-size: 11vw;
          }
        }
      }

      /**********[ project 1 ]**********/
      .project-link-1 {
        .content-container {
          .left-img-wrapper {
            height: 350px;
          }
          .right-img-wrapper {
            height: 350px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .projects {
    .projects-list-container {
      .project-link {
        .content-container {
          height: 400px;
        }
      }

      /**********[ project 1 ]**********/
      .project-link-1 {
        .content-container {
          .left-img-wrapper {
            height: 200px;
          }
          .right-img-wrapper {
            height: 200px;
          }
        }
      }
    }
  }
}
