@import '../../styles/variable';

.projects {
  background-color: $secondary-color-02;
  cursor: default;

  /**********[ projects navigator ]**********/
  .projects-navigator {
    position: -webkit-sticky;
    position: sticky;
    top: 35vh;
    left: 5%;
    width: 10%;
    height: auto;
    transform: translateY(-50%);
    z-index: 9999;

    .project-menus {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      width: 100%;
      height: 100%;

      .pn-text {
        text-transform: uppercase;
        font-size: $font-size-sm;
        color: $text-white;
        font-weight: 500;
        opacity: 0.4;
        transition: all 0.35s;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .page-footer-title {
    .pf-title {
      color: $text-white;
    }
  }

  /**********[ projects list container ]**********/
  .projects-list-container {
    width: 100%;
    height: auto;

    /**********[ all projects ]**********/
    .project-link {
      width: 100%;
      height: 100vh;

      .content-container {
        width: 100%;
        max-width: 800px;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        position: relative;

        // project title
        .title-link-position {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .background-title {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10vw;
          font-weight: 600;
          white-space: nowrap;
          font-family: sans-serif;
          z-index: 999;
        }
        .preview-img {
          filter: brightness(95%);
          width: 100%;
          position: relative;
          overflow: hidden;
          -moz-animation: fadeInUp 0.7s ease-in-out; /* Firefox */
          -webkit-animation: fadeInUp 0.7s ease-in-out; /* Safari and Chrome */
          -o-animation: fadeInUp 0.7s ease-in-out; /* Opera */
          animation: fadeInUp 0.7s ease-in-out;
        }
      }
    }

    /**********[ project 1 ]**********/
    .project-link-1 {
      .content-container {
        align-items: center;

        .left-img-wrapper {
          width: 50%;
          height: 50%;
          display: flex;
          align-items: flex-start;
        }
        .right-img-wrapper {
          width: 50%;
          height: 70%;
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .projects {
    .projects-navigator {
      display: none;
    }
    .projects-list-container {
      padding-top: 15vh;

      .project-link {
        height: auto;

        .content-container {
          width: 80%;
          height: 600px;

          .title {
            font-size: 10vw;
          }
        }
      }

      /**********[ project 1 ]**********/
      .project-link-1 {
        .content-container {
          .left-img-wrapper {
            height: 400px;
          }
          .right-img-wrapper {
            height: 400px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .projects {
    .projects-list-container {
      .project-link {
        .content-container {
          width: 90%;
          .background-title {
            font-size: 11vw;
          }
        }
      }

      /**********[ project 1 ]**********/
      .project-link-1 {
        .content-container {
          .left-img-wrapper {
            height: 350px;
          }
          .right-img-wrapper {
            height: 350px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .projects {
    .projects-list-container {
      .project-link {
        .content-container {
          height: 400px;

          .background-title {
            font-size: 12vw;
          }
        }
      }

      /**********[ project 1 ]**********/
      .project-link-1 {
        height: auto;
        padding-bottom: 7vh;

        .content-container {
          .left-img-wrapper {
            height: 180px;
            height: auto;

            .preview-img {
              padding-bottom: 15vh;
            }
          }
          .right-img-wrapper {
            // height: 240px;
            height: 160px;

            .preview-img {
              padding-top: 15vh;
            }
          }
        }
      }
    }
  }
}
